<div class="formulario-plantillas" [formGroup]="creacionPlantillaForm" novalidate>
    <h3 class="mb-4">Nueva Plantilla</h3>
    <div class="row">
        <div class="form-group col-10">
            <label>Nombre de la Plantilla
                <!--<input class="form-control" formControlName="nombre" placeholder="Escriba un nombre de plantilla..." />-->
                <ng-select [items]="nombresPlantilla$ | async" formControlName="nombre"
                    [addTag]="true"
                    placeholder="Escriba un nombre de plantilla...">
                    <ng-template ng-tag-tmp let-search="searchTerm">
                        <b>Crear nueva:</b> {{search}}
                    </ng-template>
                </ng-select>

            </label>
            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-warning">
                <div *ngIf="nombre.errors?.required">Este es un campo requerido.</div>
            </div>
        </div>
        <div class="form-group col-2">
            <label>Versión
                <input class="form-control" formControlName="version" />
            </label>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-5">
            <label>Socio
                <ng-select [items]="socios$ | async" [clearable]="false" formControlName="socio" bindLabel="nombre"
                    placeholder="Seleccione un socio...">
                </ng-select>
            </label>
            <div *ngIf="socio.invalid && (socio.dirty || socio.touched)" class="alert alert-warning">
                <span *ngIf="socio.errors.required">Este es un campo requerido.</span>
            </div>
        </div>
        <div class="form-group col-4">
            <label>Evento
                <ng-select [items]="eventos$ | async" [clearable]="false" formControlName="evento" bindLabel="nombre"
                    placeholder="Seleccione un evento...">
                </ng-select>
            </label>
            <div *ngIf="evento.invalid && (evento.dirty || evento.touched)" class="alert alert-warning">
                <span *ngIf="evento.errors.required">Este es un campo requerido.</span>
            </div>
        </div>
        <div class="form-group col-3">
            <label>Tipo de Plantilla
                <ng-select [items]="tiposPlantilla$ | async" [clearable]="false" [searchable]="false"
                    formControlName="tipo" bindLabel="nombre" placeholder="Seleccione un tipo de plantilla...">
                </ng-select>
            </label>
            <div *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)" class="alert alert-warning">
                <span *ngIf="tipo.errors.required">Este es un campo requerido.</span>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="tipo.value?.id === 100002">
        <mat-checkbox class="mt-3 pl-3" formControlName="salidaFormatoOriginalEstado"
            (change)="onChangeSalidaFormatoOriginalEstado($event)">
            Salida con Formato Original más Estado
        </mat-checkbox>
    </div>
    <div class="row">
        <div class="form-group col">
            <label>Observaciones
                <textarea class="form-control" formControlName="observaciones" placeholder="Opcional..."
                    maxlength="150"></textarea>
            </label>
        </div>
    </div>
    <div *ngIf="creacionPlantillaForm.valid || creacionPlantillaForm.disabled" class="border-top border-lighter py-3">
        <app-plantilla-entrada class="row" #plantillaEntrada
            *ngIf="tipo.value.id === 100000"
            [Evento]="evento.value">
        </app-plantilla-entrada>

        <app-plantilla-integracion #plantillaIntegracion class="row"
            *ngIf="tipo.value.id === 100001"
            [Socio]="socio.value"
            [Evento]="evento.value">
        </app-plantilla-integracion>

        <app-plantilla-salida #plantillaSalida class="row"
            *ngIf="tipo.value.id === 100002 && !salidaFormatoOriginalEstado.value"
            [Socio]="socio.value"
            [evento]="evento.value">
        </app-plantilla-salida>
    </div>
    <div class="form-buttons d-flex justify-content-around mb-3">
        <button class="btn btn-success" (click)="onClickSubmitPlantilla()" [disabled]="!(formularioCompleto$ | async) || submitting">
            Crear Plantilla
        </button>
        <!--
    <button class="btn btn-light border-secondary" (click)="savePlantilla()">
      Guardar Borrador
    </button>
    -->
        <a class="btn btn-light border-secondary" routerLink="/plantillas">
            Cancelar
        </a>
    </div>
</div>