<div class="card">
    <form #form="ngForm"  class="card-body" [formGroup]="homologacionFormGroup" (ngSubmit)="onSubmit()" novalidate>
        <h5 class="card-title">{{homologacionId? 'Editando' : 'Nueva'}} Homologación</h5>
        <div class="row">
            <div class="form-group col">
                <label>Compañía 1
                    <ng-select [items]="socios$ | async" [clearable]="false" 
                        bindLabel="nombre" formControlName="socio1" 
                        placeholder="Seleccione un socio..." required>
                    </ng-select>
                </label>
                <div *ngIf="socio1.invalid && (socio1.dirty || socio1.touched)" class="alert alert-warning">
                  <span *ngIf="socio1.errors.required">Este es un campo requerido.</span>
                </div>
            </div>
            <div class="form-group col">
                <label>Compañía 2
                    <ng-select [items]="socios$ | async" [clearable]="false"
                        bindLabel="nombre"  formControlName="socio2" 
                        placeholder="Seleccione un socio..." required>
                    </ng-select>
                </label>
                <div *ngIf="socio2.invalid && (socio2.dirty || socio2.touched)" class="alert alert-warning">
                  <span *ngIf="socio2.errors.required">Este es un campo requerido.</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label>Concepto
                    <ng-select [items]="conceptos$ | async" [addTag]="true"
                        formControlName="concepto" 
                        placeholder="Escriba o seleccione el concepto a homologar..." required>
                        <ng-template ng-tag-tmp let-search="searchTerm">
                            <b>Crear nuevo:</b> {{search}}
                        </ng-template>
                    </ng-select>
                </label>
                <div *ngIf="concepto.invalid && (concepto.dirty || concepto.touched)" class="alert alert-warning">
                  <span *ngIf="concepto.errors.required">Este es un campo requerido.</span>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="form-group col-3">
                <label>Sistema 1
                    <ng-select [items]="sistemas$ | async" [clearable]="false"
                        bindLabel="nombre" formControlName="core1" 
                        placeholder="Seleccione un sistema..." required>
                    </ng-select>
                </label>
                <div *ngIf="core1.invalid && (core1.dirty || core1.touched)" class="alert alert-warning">
                  <span *ngIf="core1.errors.required">Este es un campo requerido.</span>
                </div>
            </div>
            <div class="form-group col">
                <label>Valor 1
                    <input type="text" class="form-control" formControlName="valor1"  required/>
                </label>
                <div *ngIf="valor1.invalid && (valor1.dirty || valor1.touched)" class="alert alert-warning">
                  <span *ngIf="valor1.errors.required">Este es un campo requerido.</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-3">
                <label>Sistema 2
                    <ng-select [items]="sistemas$ | async" [clearable]="false"
                        bindLabel="nombre" formControlName="core2" 
                        placeholder="Seleccione un sistema..." required>
                    </ng-select>
                </label>
                <div *ngIf="core2.invalid && (core2.dirty || core2.touched)" class="alert alert-warning">
                  <span *ngIf="core2.errors.required">Este es un campo requerido.</span>
                </div>
            </div>
            <div class="form-group col">
                <label>Valor 2
                    <input type="text" class="form-control" formControlName="valor2" required/>
                </label>
                <div *ngIf="valor2.invalid && (valor2.dirty || valor2.touched)" class="alert alert-warning">
                  <span *ngIf="valor2.errors.required">Este es un campo requerido.</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <button type="submit" class="btn btn-primary">{{homologacionId? 'Guardar' : 'Crear'}}</button>
            </div>
        </div>
    </form>
</div>