<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" class="sidenav bg-success" role="navigation" [opened]="isSidenavOpen">
        <p style="color: white; font-weight: bold"><img style="margin-left: 12px" src="assets/images/logo.png" alt="" width="24" height="24">&nbsp;&nbsp;BNP PARIBAS CARDIF</p>
        <mat-nav-list *ngIf="enlacesNavegacionChange$ | async">

            <ng-template ngFor let-link [ngForOf]="enlacesNavegacion">
                <a mat-list-item *ngIf="link.router; else linkNoRouter" [routerLink]="link.url" class="btn btn-success" routerLinkActive="active-list-item"
                    [style.padding-left]="link.nivel * 24 +'px'" [hidden]="link.hidden">

                    <fa-icon [icon]="link.iconoFontAwesome"></fa-icon>
                    &nbsp;{{link.texto}}
                </a>
                <ng-template #linkNoRouter>
                    <mat-list-item class="btn btn-success" [style.padding-left]="link.nivel * 24 +'px'">
                        <fa-icon [icon]="link.iconoFontAwesome"></fa-icon>
                        &nbsp;{{link.texto}}
                    </mat-list-item>
                </ng-template>
                
            </ng-template>
        </mat-nav-list>
        
        <div class="version-label">
            Versión {{versionBackend}}
        </div>
        
    </mat-sidenav>

    <mat-sidenav-content>
        <app-cabecera [sidenavOpen]="isSidenavOpen" (sidenavChange)="onSidenavToggle($event)"></app-cabecera>
        <div class="sidenav-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>