/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

@import url('assets/bootstrap-4.3.1/bootstrap.min.css');
@import url('assets/animate.css');

@import url('assets/animate.css');

body {
    height: 100vh;
}

.border-lighter {
    border-color: rgba(0,0,0,.125);
}

.bg-success {
    background-color: #009260 !important;
    color: white;
}

.btn-success {
    background-color: #009260;
    border-color: #009260;
}
.btn-success:hover {
    background-color: #007240 !important;
    border-color: #007240 !important;
}
.btn-success.active,
.btn-success.active:hover {
    background-color: #005220 !important;
    border-color: #005220 !important;
}

.btn-outline-success {
    color: #009260;
    border-color: #009260;
}
.btn-outline-success:hover {
    background-color: #008250;
    border-color: #008250;
}

.btn-danger {
    color: white;
}

h1 {
    margin-bottom: 1em;
}

table[mat-table] {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 0.75em;
}

.center-icon {
    display: inline-flex;
}
.center-icon fa-icon {
    margin: auto;
}


.form-group {
    margin-bottom: 0.25em;
}
.form-group label {
    width: 100%;
}

.mat-checkbox-layout {
    width: initial !important;
}

.card-title {
    font-weight: bold;
}


.card-body {
    padding: 0.75em 1em;
}

.th-acciones {
    text-align: center !important;
}

.td-acciones {
    white-space: nowrap !important;
    text-align: center !important;
}

.td-acciones .btn {
    height: 1.5em;
    width: 1.5em;
    padding: 0.1em;
    display: inline-flex;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0px;
}

.td-acciones .btn-xs > fa-icon,
.td-acciones .btn-xs > fa-icon {
    margin: auto;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.td-acciones .btn-toggle-vigencia.btn-outline-danger:hover {
    background-color: #009260;
}
.td-acciones .btn-toggle-vigencia.btn-outline-success:hover {
    background-color: #dc3545;
}


mat-paginator {
    width: fit-content;
}

.spinner-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
