<div class="card">
    <div class="spinner-container" *ngIf="loadingFile$ | async">
        <h5>Procesando...</h5>
        <mat-spinner></mat-spinner>
    </div>
    <form class="card-body importar-homologaciones" [hidden]="loadingFile$ | async" [formGroup]="importarHomologacionesForm" (ngSubmit)="onSubmit()" novalidate>
        <h5 class="card-title">Importar Homologaciones</h5>
        <div class="row">
            <div class="form-group col">
                <label>Compañía 1
                    <ng-select [items]="socios$ | async" [clearable]="false" 
                        bindLabel="nombre" 
                        formControlName="socio1" name="socio1" 
                        placeholder="Seleccione un socio..." required>
                    </ng-select>
                </label>
                <div *ngIf="socio1.invalid && (socio1.dirty || socio1.touched)" class="alert alert-warning">
                  <span *ngIf="socio1.errors.required">Este es un campo requerido.</span>
                </div>
            </div>
            <div class="form-group col">
                <label>Compañía 2
                    <ng-select [items]="socios$ | async" [clearable]="false"
                        bindLabel="nombre"
                        formControlName="socio2" name="socio2"
                        placeholder="Seleccione un socio..." required>
                    </ng-select>
                </label>
                <div *ngIf="socio2.invalid && (socio2.dirty || socio2.touched)" class="alert alert-warning">
                  <span *ngIf="socio2.errors.required">Este es un campo requerido.</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label>Concepto
                    <ng-select [items]="conceptos$ | async" [addTag]="true"
                        formControlName="concepto" name="concepto" 
                        placeholder="Escriba o seleccione el concepto a homologar..." required>
                        <ng-template ng-tag-tmp let-search="searchTerm">
                            <b>Crear nuevo:</b> {{search}}
                        </ng-template>
                    </ng-select>
                </label>
                <div *ngIf="concepto.invalid && (concepto.dirty || concepto.touched)" class="alert alert-warning">
                  <span *ngIf="concepto.errors.required">Este es un campo requerido.</span>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="form-group col">
                <label>Sistema 1
                    <ng-select [items]="sistemas$ | async" [clearable]="false"
                        bindLabel="nombre"
                        formControlName="core1" name="core1"
                        placeholder="Seleccione un sistema..." required>
                    </ng-select>
                </label>
                <div *ngIf="core1.invalid && (core1.dirty || core1.touched)" class="alert alert-warning">
                  <span *ngIf="core1.errors.required">Este es un campo requerido.</span>
                </div>
            </div>
            <div class="form-group col">
                <label>Sistema 2
                    <ng-select [items]="sistemas$ | async" [clearable]="false"
                        bindLabel="nombre"
                        formControlName="core2" name="core2"
                        placeholder="Seleccione un sistema..." required>
                    </ng-select>
                </label>
                <div *ngIf="core2.invalid && (core2.dirty || core2.touched)" class="alert alert-warning">
                  <span *ngIf="core2.errors.required">Este es un campo requerido.</span>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="form-group col my-3">
            <label>Archivo
                <input type="file" class="form-control-file" name="archivo" accept=".csv,text/csv" required
                    formControlName="archivo" (change)="onFileSelect($event.target.files)" />
            </label>
            <div *ngIf="archivo.invalid && (archivo.dirty || archivo.touched)" class="alert alert-warning">
                <span *ngIf="archivo.errors.required">El archivo a subir es requerido.</span>
            </div>
          </div>
        </div>
        <div class="row align-content-end align-items-end">
            <div class="col">
                <div class="alert alert-warning my-0">
                    <span><b>Advertencia:</b> el archivo a cargar debe cumplir las siguientes condiciones:</span>
                    <ul class="m-0">
                        <li>Formato de archivo .csv</li>
                        <li>Delimitado por punto y coma (;).</li>
                        <li>Dos columnas: valor 1 y valor 2.</li>
                        <li>Sin encabezados.</li>
                    </ul>
                </div>
            </div>
            <div class="text-right col-2">
                <button type="submit" class="btn btn-primary w-100">Importar</button>
            </div>
        </div>
    </form>
</div>