<h6 class="mt-3">Detalles de Estructura '{{estructura.descripcion}}'</h6>
<table mat-table [dataSource]="estructura.columnas">
    <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
    </ng-container>
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
    </ng-container>
    <ng-container matColumnDef="tipoDato">
        <th mat-header-cell *matHeaderCellDef> Tipo de Dato </th>
        <td mat-cell *matCellDef="let row"> {{ row.tipoDato.nombre }} </td>
    </ng-container>
    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>        
        <td mat-cell *matCellDef="let row; let i=index">
            <button class="btn btn-xs btn-outline-primary border-secondary"
                matTooltip="Mapear columnas de subestructura" 
                *ngIf="row.subEstructura || row.idSubEstructura" 
                (click)="onClickVerDetalles(i)" 
                [disabled]="loading">
                <fa-icon [icon]="icons.faEllipsisH" class="fas fa-ellipsis-h"></fa-icon>
            </button>
            <mat-checkbox class="m-3" matTooltip="Seleccionar para mapeo"
                *ngIf="accionUser !== 'ver'"
                (change)="onClickSelectColumna($event, i)" 
                [disabled]="loading"
                [checked]="indiceColumnaSeleccionada === i">
            </mat-checkbox>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="estructuraColumnasDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: estructuraColumnasDisplayedColumns;"></tr>
</table>