<div class="header bg-success row">
    <div class="col">
        <button class="btn-sidenav-toggle btn btn-lg btn-success" (click)="toggleSidenav()"
            matTooltip="{{sidenavOpen?'Ocultar':'Mostrar'}} menú" matTooltipPosition="after">
            <fa-icon [icon]="icons.faBars"></fa-icon>
        </button>
    </div>
    <div class="site-title col">
        <h5>Integración Con Socios</h5>
    </div>
    <div class="col">
        <div class="userbar">
            <span class="user-name">{{username}}</span>
            <button class="btn-logout btn btn-success ml-3" matTooltip="Cerrar Sesión" (click)="triggerLogout()">
                <fa-icon [icon]="icons.faSignOutAlt"></fa-icon>
            </button>
        </div>
    </div>
</div>