.site-title {
    padding: 1em;
    display: flex;
    align-content: center;
}

.site-title h5 {
    margin-top: 0.25em;
}

.userbar {
    display: flex;
    align-content: center;
    align-items: center;
    width: fit-content;
    margin: 0.5em;
    margin-left: auto;
    padding: 0.25em 0.5em;
}

.user-name {
    vertical-align: middle;
    padding-bottom: 4px;
}

.btn-logout,
.btn-sidenav-toggle {
    display: inline-flex;
    padding: 8px;
}

.btn fa-icon {
    margin: auto;
    font-size: 1.3em
}

.btn-logout {
    width: 2.5em;
}

.btn-sidenav-toggle {
    width: 2em;
    margin: 0.5em;
}