<div class="col" [formGroup]="creacionPlantillaIntegracionForm">
    <div class="row justify-content-between">
        <div class="col-3 form-group">
            <label>Core de Integración
                <ng-select [items]="sistemas$ | async" [clearable]="false" [searchable]="false" formControlName="core" bindLabel="nombre"
                    placeholder="Seleccione un sistema...">
                </ng-select>
            </label>
            <div *ngIf="core.invalid && (core.dirty || core.touched)" class="alert alert-warning">
                <span *ngIf="core.errors.required">Este es un campo requerido.</span>
            </div>
        </div>
        <div class="col-5">
            <mat-checkbox formControlName="filtrarOrigenesPlantilla">
                Filtrar Columnas de Negocio por Plantilla de Entrada
            </mat-checkbox>
            <ng-select [items]="plantillasEntrada$ | async"
                bindLabel="nombre"
                formControlName="plantillaFiltro">
            </ng-select>
        </div>
    </div>
    <div class="row align-items-baseline align-content-stretch">
        <div class="col-3 form-group">
            <label>Tipo de Salida
                <ng-select [items]="tiposSalida$ | async" [clearable]="false" [searchable]="false" formControlName="tipoSalida"
                    bindLabel="descripcion" placeholder="Seleccione una opción...">
                </ng-select>
            </label>
            <div *ngIf="tipoSalida.invalid && (tipoSalida.dirty || tipoSalida.touched)" class="alert alert-warning">
                <span *ngIf="tipoSalida.errors.required">Este es un campo requerido.</span>
            </div>
        </div>
        <div class="col-3 form-group">
            <label>Formato de Salida
                <ng-select [items]="formatosSalida$ | async" [clearable]="false" formControlName="formatoSalida"
                    bindLabel="nombre" placeholder="Seleccione un formato...">
                </ng-select>
            </label>
            <div *ngIf="formatoSalida.invalid && (formatoSalida.dirty || formatoSalida.touched)" class="alert alert-warning">
                <span *ngIf="formatoSalida.errors.required">Este es un campo requerido.</span>
            </div>
        </div>
        <div class="col-2 form-group flex-shrink-1">
            <label>Delimitador
                <input type="text" class="form-control" style="width: 11em" formControlName="delimitadorColumnas" />
            </label>
            <div *ngIf="delimitadorColumnas.invalid && (delimitadorColumnas.dirty || delimitadorColumnas.touched)" class="alert alert-warning">
                <span *ngIf="delimitadorColumnas.errors.required">Este es un campo requerido.</span>
            </div>
        </div>
        <div class="col-3 form-group">
            <mat-checkbox formControlName="incluirEncabezados">
                Incluir Encabezados
            </mat-checkbox>
        </div>
    </div>
    <div class="row my-3">
        <div class="col">
            <h4>Columnas de Trabajo para esta Plantilla de Integración</h4>
        </div>
        <div class="col-3 text-right">
            <button class="btn btn-primary" 
                [disabled]="isVerMode || !creacionPlantillaIntegracionForm.valid"
                (click)="onClickAgregarColumnaTrabajo()">Agregar
                Columna
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <table mat-table #tablaColumnasTrabajo class="mt-0" [dataSource]="columnasTrabajo">
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre de Columna </th>
                    <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef class="th-acciones"> Acciones </th>
                    <td mat-cell *matCellDef="let row; let i=index" class="td-acciones">
                        <button class="btn btn-xs btn-outline-primary border-secondary" matTooltip="Editar" (click)="onClickEditarColumnaTrabajo(i)">
                            <fa-icon [icon]="icons.faEllipsisH" class="fas fa-ellipsis-h"></fa-icon>
                        </button>&nbsp;
                        <button class="btn btn-xs btn-outline-danger border-secondary" matTooltip="Quitar" (click)="onClickQuitarColumnaTrabajo(i)"
                            [disabled]="isVerMode">
                            <fa-icon [icon]="icons.faTimes" class="fas fa-times"></fa-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnasTrabajoDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: columnasTrabajoDisplayedColumns;"></tr>
            </table>
        </div>
        <div class="col" *ngIf="columnaSeleccionada">
            <div class="card">
                <app-columna-trabajo-integracion-edicion #formularioColumnaTrabajo class="row card-body"
                    [OtrasColumnasTrabajo]="columnasTrabajo" 
                    [ColumnaTrabajo]="columnaSeleccionada"
                    [Core]="core.value"
                    [AccionUser]="accionUser$ | async" 
                    [Evento]="evento"
                    [Socio]="socio"
                    [mapeosIntegracion]="mapeosIntegracion"
                    [ColumnasOrigen]="columnasOrigen$ | async">
                </app-columna-trabajo-integracion-edicion>
            </div>
            <div class="card my-2">
                <div class="card-body">
                    <h5>Mapear esta columna a uno o varios campos de integración de destino</h5>
                    <div class="row">
                        <div class="col form-group">
                            <label>Campos de Integración Disponibles
                                <ng-select [items]="camposMapeoDisponibles$ | async" bindLabel="nombreColumna"
                                    formControlName="columnaDestinoIntegracion">
                                </ng-select>
                            </label>
                        </div>
                        <div class="col-2 pt-4">
                            <button class="btn btn-primary w-100" (click)="onClickMapearIntegracion()" [disabled]="isVerMode">Mapear</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" [hidden]="(mapeosIntegracion$ | async).length === 0">
        <div class="col">
            <h4>Columnas de Integración de Destino</h4>
            <table mat-table #tablaMapeosIntegracion [dataSource]="mapeosIntegracion$">
                    <ng-container matColumnDef="nombre">
                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                <td mat-cell *matCellDef="let row"> {{row.columnaDestino.nombreColumna}} </td>
                            </ng-container>
                        </ng-container>
                <ng-container matColumnDef="origen">
                    <th mat-header-cell *matHeaderCellDef> Origen </th>
                    <td mat-cell *matCellDef="let row"> {{ row.columnaOrigen.nombre }} </td>
                </ng-container>
                <ng-container matColumnDef="obligatorio">
                    <th mat-header-cell *matHeaderCellDef class="th-acciones"> Obligatorio </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox [ngModelOptions]="{standalone:true}" 
                            [disabled]="isVerMode"
                            [(ngModel)]="row.obligatorio" 
                            (change)="forceChangeForm()">
                            Obligatorio
                        </mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef class="th-acciones"> Acciones </th>
                    <td mat-cell *matCellDef="let row; let i=index" class="td-acciones">
                        <button class="btn btn-xs btn-light border-secondary" matTooltip="Añadir a Archivo" 
                            *ngIf="tipoSalida.value.idTipoSalida === 5000002"
                            [disabled]="row.enArchivoSalida || isVerMode"
                            (click)="onClickAgregarMapeoArchivoIntegracion(i)">
                            <fa-icon [icon]="icons.faFileImport" class="fas fa-file-import"></fa-icon>
                        </button>
                        <button class="btn btn-xs btn-danger" matTooltip="Quitar" 
                            [disabled]="isVerMode" 
                            (click)="onClickQuitarMapeoIntegracion(i)">
                            <fa-icon [icon]="icons.faTimes" class="fas fa-times"></fa-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnasIntegracionDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: columnasIntegracionDisplayedColumns;"></tr>
            </table>
        </div>
    </div>
    <div class="row" *ngIf="tipoSalida.value.idTipoSalida === 5000002 && formatoSalida.value">
        <div class="col">
            <h4>Columnas del Archivo de Destino</h4>
            <table mat-table #tablaColumnasArchivoIntegracion [dataSource]="columnasArchivoIntegracion$">
                <ng-container matColumnDef="origen">
                    <th mat-header-cell *matHeaderCellDef> Origen </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.origen.columnaDestino.nombreColumna + ' / ' + row.origen.columnaOrigen.nombre }} </td>
                </ng-container>
                <ng-container matColumnDef="posicion">
                    <th mat-header-cell *matHeaderCellDef> Posición </th>
                    <td mat-cell *matCellDef="let row"> {{ row.posicionInicial }} - {{ row.posicionFinal }} </td>
                </ng-container>
                <ng-container matColumnDef="separar">
                    <th mat-header-cell *matHeaderCellDef class="th-acciones"> Separar archivos </th>
                    <td mat-cell *matCellDef="let row; let i=index">
                        <mat-checkbox [ngModelOptions]="{standalone:true}" 
                            [disabled]="isVerMode"
                            [(ngModel)]="row.separarArchivo"
                            (change)="forceChangeForm()">
                        </mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="incluir">
                    <th mat-header-cell *matHeaderCellDef class="th-acciones"> Incluir en Archivo </th>
                    <td mat-cell *matCellDef="let row; let i=index">
                        <mat-checkbox [ngModelOptions]="{standalone:true}" 
                            [disabled]="isVerMode"
                            [(ngModel)]="row.incluir"
                            (change)="forceChangeForm()">
                        </mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef class="th-acciones"> Acciones </th>
                    <td mat-cell *matCellDef="let row; let i=index" class="td-acciones">
                        <button class="btn btn-xs btn-primary" matTooltip="Detalles" 
                            [disabled]="!formatoSalida.value || formatoSalida.value.id !== 300003 || delimitadorColumnas.value"
                            (click)="onClickDetallesColumnaArchivoIntegracion(i)">
                            <fa-icon [icon]="icons.faEllipsisH" class="fas fa-ellipsis-h"></fa-icon>
                        </button>
                        <button class="btn btn-xs btn-outline-primary border-secondary" matTooltip="Subir" 
                            [disabled]="i===0" 
                            (click)="onClickSubirColumnaArchivoIntegracion(i)">
                            <fa-icon [icon]="icons.faCaretUp" class="fas fa-caret-up"></fa-icon>
                        </button>
                        <button class="btn btn-xs btn-outline-primary border-secondary" matTooltip="Bajar" 
                            [disabled]="i+1===columnasArchivoIntegracion.length" 
                            (click)="onClickBajarColumnaArchivoIntegracion(i)">
                            <fa-icon [icon]="icons.faCaretDown" class="fas fa-caret-down"></fa-icon>
                        </button>
                        <button class="btn btn-xs btn-danger" matTooltip="Quitar" 
                            [disabled]="isVerMode" 
                            (click)="onClickQuitarColumnaArchivoIntegracion(i)">
                            <fa-icon [icon]="icons.faTimes" class="fas fa-times"></fa-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnasArchivoIntegracionDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: columnasArchivoIntegracionDisplayedColumns;"></tr>
            </table>
        </div>
        <div class="col-5 text-center mt-4" *ngIf="columnaArchivoSeleccionada && formatoSalida.value && !delimitadorColumnas.value && formatoSalida.value.id === 300003">
            <h6>Propiedades de Columna</h6>
            <div class="row">
                <div class="col form-group">
                    <label>Posición Inicial
                        <input type="text" class="form-control" 
                            [ngModelOptions]="{standalone:true}" 
                            [(ngModel)]="columnaArchivoSeleccionada.posicionInicial"
                            [disabled]="isVerMode"
                            (change)="forceChangeForm()"/>
                    </label>
                </div>
                <div class="col form-group">
                    <label>Posición Final
                        <input type="text" class="form-control" 
                            [ngModelOptions]="{standalone:true}" 
                            [(ngModel)]="columnaArchivoSeleccionada.posicionFinal"
                            [disabled]="isVerMode"
                            (change)="forceChangeForm()"/>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
