<div class="card">
    <form class="card-body" [formGroup]="procesosCargaFormGroup" (ngSubmit)="submit()" novalidate>
        <h5 class="card-title">{{ (esProcesoNuevo$ | async)? 'Nuevo' : 'Editando' }} Proceso de Carga</h5>
        <div class="row">
            <div class="col">
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">Datos Generales</h5>
                        <div class="row">
                            <div class="form-group col-md-9">
                                <label>Nombre Proceso
                                    <input type="text" class="form-control" formControlName="nombreProceso" />
                                </label>
                                <div *ngIf="nombreProceso.invalid && (nombreProceso.dirty || nombreProceso.touched)"
                                    class="alert alert-warning">
                                    <span *ngIf="nombreProceso.errors.required">Este es un campo requerido.</span>
                                </div>
                            </div>
                            <div id="divWrapperEsSalidaAneto" class="form-group col-md-3">
                                <mat-checkbox formControlName="esSalidaAneto" id="checkboxEsSalidaAneto">
                                    Salida Aneto
                                </mat-checkbox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-3 col-md-6">
                                <label>Evento
                                    <ng-select [items]="eventos$ | async" bindValue="id" bindLabel="nombre" [clearable]="false"
                                        formControlName="evento" placeholder="Seleccione un Evento...">
                                    </ng-select>
                                </label>
                                <div *ngIf="evento.invalid && (evento.dirty || evento.touched)" class="alert alert-warning">
                                    <span *ngIf="evento.errors.required">Este es un campo requerido.</span>
                                </div>
                            </div>
                            <div class="form-group col-lg-4 col-md-6">
                                <label>Socio
                                    <ng-select [items]="socios$ | async" bindValue="id" bindLabel="nombre" [clearable]="false"
                                        formControlName="socio" placeholder="Seleccione un Socio...">
                                    </ng-select>
                                </label>
                                <div *ngIf="socio.invalid && (socio.dirty || socio.touched)" class="alert alert-warning">
                                    <span *ngIf="socio.errors.required">Este es un campo requerido.</span>
                                </div>
                            </div>
                            <div class="form-group col-lg-2 col-md-6">
                                <label>Call Center
                                    <ng-select [items]="callCenter$ | async" bindValue="id" bindLabel="nombre" [clearable]="true"
                                        formControlName="callCenter" placeholder="Seleccione un Call Center (Opcional)...">
                                    </ng-select>
                                </label>
                            </div>
                            <div class="form-group col-lg-3 col-md-6">
                                <label>Tipo Archivo
                                    <ng-select [items]="tiposArchivo$ | async" bindValue="id" bindLabel="nombre" [clearable]="true"
                                        formControlName="tipoArchivo" placeholder="Seleccione un tipo...">
                                    </ng-select>
                                </label>
                                <div *ngIf="tipoArchivo.enabled && tipoArchivo.invalid && (tipoArchivo.dirty || tipoArchivo.touched)" class="alert alert-warning">
                                    <span *ngIf="tipoArchivo.errors.required">Este es un campo requerido.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">Plantillas</h5>
                        <div class="row">
                            <div class="form-group col">
                                <label>Plantilla de Entrada del Socio
                                    <ng-select [items]="plantillaEntrada$ | async" [clearable]="false" bindLabel="nombre"
                                        formControlName="plantillaEntrada"
                                        placeholder="Seleccione una Plantilla de Entrada de Socio...">
                                    </ng-select>
                                </label>
                                <div *ngIf="plantillaEntrada.invalid && (plantillaEntrada.dirty || plantillaEntrada.touched)"
                                    class="alert alert-warning">
                                    <span *ngIf="plantillaEntrada.errors.required">Este es un campo requerido.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col">
                                <label>Plantilla de Integración
                                    <ng-select [items]="plantillaIntegracion$ | async" [clearable]="false" bindLabel="nombre"
                                        formControlName="plantillaIntegracion"
                                        placeholder="Seleccione una Plantilla de Integración...">
                                    </ng-select>
                                </label>
                                <div *ngIf="plantillaIntegracion.invalid && (plantillaIntegracion.dirty || plantillaIntegracion.touched)"
                                    class="alert alert-warning">
                                    <span *ngIf="plantillaIntegracion.errors.required">Este es un campo requerido.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col">
                                <label>Plantilla de Salida al Socio
                                    <ng-select [items]="plantillaSalidaSocio$ | async" [clearable]="true" bindLabel="nombre"
                                        formControlName="plantillaSalidaSocio"
                                        placeholder="Seleccione una Plantilla de Salida Socio (Opcional)...">
                                    </ng-select>
                                </label>
                                <div *ngIf="plantillaSalidaSocio.invalid && (plantillaSalidaSocio.dirty || plantillaSalidaSocio.touched)"
                                    class="alert alert-warning">
                                    <span *ngIf="plantillaSalidaSocio.errors.required">Este es un campo requerido.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">E-mails de Notificación</h5>
                        <div class="row">
                            <div class="form-group col">
                                <label>Error de Carga
                                    <input class="form-control" formControlName="errorCarga" type="email" />
                                </label>
                                <div *ngIf="errorCarga.invalid && (errorCarga.dirty || errorCarga.touched)"
                                    class="alert alert-warning">
                                    <span *ngIf="errorCarga.errors.required">Este es un campo requerido.</span>
                                    <span *ngIf="errorCarga.errors.mailFormat">Formato de e-mail incorrecto.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col">
                                <label>Error de Integración
                                    <input class="form-control" formControlName="errorIntegracion" type="email" />
                                </label>
                                <div *ngIf="errorIntegracion.invalid && (errorIntegracion.dirty || errorIntegracion.touched)"
                                    class="alert alert-warning">
                                    <span *ngIf="errorIntegracion.errors.required">Este es un campo requerido.</span>
                                    <span *ngIf="errorIntegracion.errors.mailFormat">Formato de e-mail incorrecto.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col">
                                <label>Hitos del Proceso
                                    <input class="form-control" formControlName="hitosProceso" type="email" />
                                </label>
                                <div *ngIf="hitosProceso.invalid && (hitosProceso.dirty || hitosProceso.touched)"
                                    class="alert alert-warning">
                                    <span *ngIf="hitosProceso.errors.required">Este es un campo requerido.</span>
                                    <span *ngIf="hitosProceso.errors.mailFormat">Formato de e-mail incorrecto.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col text-right">
                <button type="submit" class="btn btn-primary"
                    [disabled]="procesosCargaFormGroup.invalid || procesosCargaFormGroup.pristine">
                    {{ (esProcesoNuevo$ | async)? 'Crear' : 'Guardar'  }}
                </button>
            </div>
        </div>
    </form>
</div>