<div class="col">
    <div class="card my-2">
        <div class="card-body">
            <h5 class="card-title">Estructuras ANETO contenidas en el archivo</h5>
            <div class="row">
                <ng-container *ngIf="cargandoEstructura; then cargaEstructura; else seleccionarEstructura"></ng-container>
                <ng-template #cargaEstructura class="d-flex justify-content-center">
                    <div class="col justify-content-center align-items-center">
                        <mat-spinner></mat-spinner>
                    </div>
                </ng-template>
                <ng-template #seleccionarEstructura>
                    <div class="form-group col">
                        <label>Agregar Estructura
                            <ng-select [items]="estructurasSimples"
                                bindLabel="descripcion" [disabled]="cargandoEstructura"
                                [(ngModel)]="estructuraDisponibleSeleccionada" 
                                placeholder="Seleccione una estructura a agregar...">
                            </ng-select>
                        </label>
                    </div>
                    <div class="col-2 pt-4 text-right">
                        <button class="btn btn-primary w-100" (click)="onClickAgregarEstructura()" [disabled]="!estructuraDisponibleSeleccionada || cargandoEstructura">Agregar</button>
                    </div>
                </ng-template>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Lista de Estructuras</h6>
                    <table mat-table #tablaEstructuras [dataSource]="estructuras">
                        <ng-container matColumnDef="codigo">
                            <th mat-header-cell *matHeaderCellDef> Código </th>
                            <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
                        </ng-container>
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef> Nombre </th>
                            <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
                        </ng-container>
                        <ng-container matColumnDef="columnas">
                            <th mat-header-cell *matHeaderCellDef> Columnas </th>
                            <td mat-cell *matCellDef="let row"> {{row.columnas.length}} </td>
                        </ng-container>
                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef class="th-acciones"> Acciones </th>
                            <td mat-cell *matCellDef="let row; let i=index" class="td-acciones">
                                <button class="btn-ver-estructura btn btn-xs btn-primary" matTooltip="Detalles" 
                                    (click)="onClickVerDetalles(i)">
                                    <fa-icon [icon]="icons.faEllipsisH" class="fas fa-ellipsis-h"></fa-icon>
                                </button>
                                <button class="btn-quitar-estructura btn btn-xs btn-danger" matTooltip="Quitar" 
                                    (click)="onClickQuitarEstructura(i)">
                                    <fa-icon [icon]="icons.faTimes" class="fas fa-times"></fa-icon>
                                </button>
                            </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="estructuraDisplayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: estructuraDisplayedColumns;"></tr>
                    </table>  
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="estructuraSeleccionada" class="mt-2">
        <div class="row" [hidden]="!columnaEnTransformacion">
            <div class="col">
                <div class="card">
                    <form class="card-body" [formGroup]="transformacionesForm" novalidate>
                        <h5 class="card-title">Transformaciones de Columna</h5>
                        <div class="row">
                            <div class="form-group col-9">
                                <div class="row" *ngIf="columnaEnTransformacion">
                                    <div class="col">
                                        <span>Columna: {{columnaEnTransformacion.descripcion}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-7">
                                        <div class="form-group-inner-container">
                                            <div class="d-flex justify-items-center align-content-end">
                                                <mat-checkbox class="mt-3" formControlName="darFormato">
                                                    Dar Formato
                                                </mat-checkbox>
                                            </div>
                                            <div class="form-group">
                                                <ng-select [items]="formatoFechasItems" [clearable]="false"
                                                    groupBy="tipo"
                                                    bindLabel="nombre"
                                                    bindValue="id"
                                                    formControlName="tipoFormato">
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-5">
                                        <div class="form-group-inner-container">
                                            <div class="d-flex justify-items-center align-content-end">
                                                <mat-checkbox class="mt-3" formControlName="aplicarFormula">
                                                    Aplicar Fórmula
                                                </mat-checkbox>
                                            </div>
                                            <button class="btn btn-primary w-100" 
                                                [disabled]="!trfAplicarFormula.value || trfAplicarFormula.disabled"
                                                (click)="onClickEditarFormula()">
                                                Editar Fórmula
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <div class="form-group-inner-container">
                                            <div class="d-flex justify-items-center align-content-end">
                                                <mat-checkbox class="mt-3" formControlName="realizarHomologacion">
                                                    Homologar
                                                </mat-checkbox>
                                            </div>
                                            <div class="form-group">
                                                <ng-select [items]="homologacionesItems" [clearable]="false"
                                                    bindLabel="concepto"
                                                    bindValue="id"
                                                    formControlName="tipoHomologacion">
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-3">
                                <span>Orden de Operaciones</span>
                                <table mat-table #tablaOrdenTransformaciones class="px-0 m-0" [dataSource]="transformaciones">
                                    <ng-container matColumnDef="orden">
                                        <th mat-header-cell *matHeaderCellDef> </th>
                                        <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="operacion">
                                        <th mat-header-cell *matHeaderCellDef> </th>
                                        <td mat-cell *matCellDef="let row"> {{row}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="acciones">
                                        <th mat-header-cell *matHeaderCellDef class="th-acciones"></th>
                                        <td mat-cell *matCellDef="let row; let i=index" class="td-acciones">
                                            <button class="btn-subir-columna btn btn-xs btn-outline-primary border-secondary" 
                                            [disabled]="i===0 || (i<2 && columnaEnTransformacion.formula)" 
                                                (click)="onClickSubirOrdenTransformacion(i)" matTooltip="Subir orden">
                                                <fa-icon [icon]="icons.faCaretUp" class="fas fa-caret-up"></fa-icon>
                                            </button>
                                            <button class="btn-bajar-columna btn btn-xs btn-outline-primary border-secondary" 
                                            [disabled]="i+1===transformaciones.length || row===TRANSFORMACION_FORMULA" 
                                                (click)="onClickBajarOrdenTransformacion(i)" matTooltip="Bajar orden">
                                                <fa-icon [icon]="icons.faCaretDown" class="fas fa-caret-down"></fa-icon>
                                            </button>
                                        </td>
                                    </ng-container>
                    
                                    <tr mat-header-row *matHeaderRowDef="transformacionesDisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: transformacionesDisplayedColumns;"></tr>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col">
                <h5>Columnas de Estructura '{{estructuraSeleccionada.descripcion}}'</h5>
                <table mat-table #tablaDetallesEstructura [dataSource]="estructuraSeleccionada.columnas">
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let columna"> {{columna.descripcion}} </td>
                    </ng-container>
                    <ng-container matColumnDef="valor">
                        <th mat-header-cell *matHeaderCellDef> Tipo de Valor </th>
                        <td mat-cell *matCellDef="let columna"> 
                            <div class="d-flex">
                                <ng-select [items]="tiposDato" [searchable]="false" 
                                    [(ngModel)]="columna.tipoDato" 
                                    placeholder="Sin valor..."
                                    bindValue="id" 
                                    bindLabel="descripcion"
                                    (change)="onChangeTipoDato(columna)"
                                    style="width: 11em">
                                </ng-select>
                                <ng-container *ngIf="columna.tipoDato">
                                    <ng-container *ngIf="columna.tipoDato === 1; then valorConstante; else valorDiccionario"></ng-container>
                                    <ng-template #valorConstante>
                                        <input class="form-control" type="text"
                                            [(ngModel)]="columna.valorFijo" 
                                            style="flex-grow: 1" />
                                    </ng-template>
                                    <ng-template #valorDiccionario>
                                        <ng-select [items]="atributosDiccionario" 
                                            [(ngModel)]="columna.atributoDiccionario" 
                                            bindLabel="nombreColumna"
                                            bindValue="idAtributoEst"
                                            style="flex-grow: 1">
                                        </ng-select>
                                    </ng-template>
                                </ng-container>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef class="th-acciones"> Acciones </th>
                        <td mat-cell *matCellDef="let columna; let i=index" class="td-acciones">
                            <button class="btn btn-xs btn-outline-primary border-secondary" matTooltip="Transformaciones"
                                [disabled]="!columna.esValida"
                                (click)="onClickVerTransformacionesColumna(i)">
                                <fa-icon [icon]="icons.faCogs" class="fas fa-cogs"></fa-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="estructuraColumnasDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let columna; columns: estructuraColumnasDisplayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
</div>