<div class="card">
    <form class="card-body" [formGroup]="formFiltros" (ngSubmit)="submit()" novalidate>
        <h5 class="card-title">Filtros</h5>
        <div class="row">
            <div class="form-group col">
                <label class="center-block">Código
                    <!--<input type="text" class="form-control" formControlName="codigo" placeholder="Todos..."/>-->
                    <ng-select [items]="estructuras$ | async" bindLabel="codigo" formControlName="codigo"
                        (ngModelChange)="codigoChange()" placeholder="Todos...">
                    </ng-select>
                </label>
            </div>

            <div class="form-group col">
                <label class="center-block">Nombre
                    <!--<input type="text" class="form-control" formControlName="nombre" placeholder="Todos..."/>-->
                    <ng-select [items]="estructuras$ | async" bindLabel="descripcion" formControlName="nombre"
                        placeholder="Todos...">
                    </ng-select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <button type="submit" class="btn btn-primary">Confirmar</button>
            </div>
        </div>
    </form>
</div>