<form class="col" style="min-height: 30em">
    <h5 class="card-title">Propiedades del Archivo</h5>

    <div class="row">
        <div class="col">
            <div class="form-group" [formGroup]="creacionArchivoEntradaForm">
                <label>Nombre
                    <input type="text" class="form-control" formControlName="nombre" />
                </label>
                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-warning">
                    <span *ngIf="nombre.errors.required">Este es un campo requerido.</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row border-top border-lighter">
        <div class="col">
            <h5 class="card-subtitle my-3">Estructuras del Archivo</h5>
            <div class="row">
                <div class="form-group col" [formGroup]="edicionArchivoForm">
                    <label>Agregar Estructura
                        <ng-select [items]="estructurasSimples$ | async"
                            bindLabel="descripcion" 
                            formControlName="estructura" 
                            placeholder="Seleccione una estructura a agregar...">
                            <ng-template ng-option-tmp let-item="item">
                                {{item.descripcion}} ({{item.codigo}})  
                            </ng-template>
                        </ng-select>
                    </label>
                </div>
                <div class="col-2 pt-4 text-right">
                    <button class="btn btn-primary" 
                        (click)="onClickAgregarEstructura()" 
                        [disabled]="!estructura.value || cargandoEstructura">
                        Agregar
                    </button>
                </div>
                <div *ngIf="cargandoEstructura" class="d-flex justify-content-center">
                    <mat-spinner></mat-spinner>
                </div>
            </div>
        </div>
    </div>    

    <div class="estructuras-container">
        <table mat-table #estructuras [dataSource]="_archivo.estructuras">
            <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef> Código </th>
                <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
            </ng-container>
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
            </ng-container>
            <ng-container matColumnDef="columnas">
                <th mat-header-cell *matHeaderCellDef> Columnas </th>
                <td mat-cell *matCellDef="let row"> {{row.columnas.length}} </td>
            </ng-container>
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let row; let i=index">
                    <button class="btn btn-xs btn-outline-primary border-secondary" matTooltip="Detalles" 
                        (click)="onClickVerDetalles(i)">
                        <fa-icon [icon]="icons.faEllipsisH" class="fas fa-ellipsis-h"></fa-icon>
                    </button>
                    <button class="btn btn-xs btn-outline-danger border-secondary" matTooltip="Quitar" 
                        (click)="onClickQuitarEstructura(i)">
                        <fa-icon [icon]="icons.faTimes" class="fas fa-times"></fa-icon>
                    </button>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="archivoCamposDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: archivoCamposDisplayedColumns;"></tr>
        </table>
    </div>

    <div class="row m-2 border border-lighter" *ngIf="estructuraSeleccionada">
        <div class="col">
            <app-estructura-archivo-entrada #formularioEstructura
                [estructura]="estructuraSeleccionada"
                [evento]="evento$ | async">
            </app-estructura-archivo-entrada>
        </div>
    </div>
</form>