<h1 mat-dialog-title>Alerta de Inactividad</h1>
<div mat-dialog-content>
  <p>Su sesión se cerrara si no cierra esta ventana en {{ seconds }} segundos.</p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="closeClick()">Cerrar</button>
</div>
