<div class="col">
    <h5>Columnas de Salida</h5>
    <div class="row">
        <div class="form-group col">
            <label>Campos disponibles
                <ng-select [items]="columnasDestinoDisponibles$ | async"
                    [(ngModel)]="campoDisponibleSeleccionado"
                    bindLabel="nombreColumna">
                </ng-select>
            </label>
        </div>
        <div class="col-2 pt-4 text-right">
            <button class="btn btn-primary w-100" (click)="onClickAgregarColumna()">Agregar</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table mat-table #tablaColumnasSalida [dataSource]="columnasSalida">
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre de Columna </th>
                    <td mat-cell *matCellDef="let row"> {{row.columnaOrigen.nombreColumna}} </td>
                </ng-container>
                <ng-container matColumnDef="posicion">
                    <th mat-header-cell *matHeaderCellDef> Posición </th>
                    <td mat-cell *matCellDef="let row"> {{row.posicionInicial}}-{{row.posicionFinal}} </td>
                </ng-container>
                <ng-container matColumnDef="accion">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let row; let i=index">
                        <button class="btn btn-xs btn-primary" matTooltip="Editar" 
                            [disabled]="_tipoExtension.id !== 300003 || _delimitadorColumnas !== ''" 
                            (click)="onClickEditarColumna(i)">
                            <fa-icon [icon]="icons.faEllipsisH" class="fas fa-ellipsis-h"></fa-icon>
                        </button>
                        <button class="btn btn-xs btn-light border-secondary" matTooltip="Subir orden" 
                            [disabled]="i===0" 
                            (click)="onClickSubirColumna(i)">
                            <fa-icon [icon]="icons.faCaretUp" class="fas fa-caret-up"></fa-icon>
                        </button>
                        <button class="btn btn-xs btn-light border-secondary" matTooltip="Bajar orden" 
                            [disabled]="i+1===columnasSalida.length" 
                            (click)="onClickBajarColumna(i)">
                            <fa-icon [icon]="icons.faCaretDown" class="fas fa-caret-down"></fa-icon>
                        </button>
                        <button class="btn btn-xs btn-danger" matTooltip="Quitar" 
                            (click)="onClickQuitarColumna(i)">
                            <fa-icon [icon]="icons.faTimes" class="fas fa-times"></fa-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnasDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: columnasDisplayedColumns;"></tr>
            </table>
        </div>
        <div class="col-3" *ngIf="columnaSeleccionada && _tipoExtension.id === 300003 && !_delimitadorColumnas">
            <h6>Propiedades de la Columna</h6>
            <div class="form-group">
                <label>Posición Inicial
                    <input type="number" class="form-control ml-2" [(ngModel)]="columnaSeleccionada.posicionInicial" />
                </label>
            </div>
            <div class="form-group">
                <label>Posición Final
                    <input type="number" class="form-control ml-2" [(ngModel)]="columnaSeleccionada.posicionFinal" />
                </label>
            </div>
        </div>
    </div>
</div>