table {
    width: 55em;
}

.mat-column-codigo {
    flex: 0 1 15em;
}
.mat-column-nombre {
    flex: 0 1 30em;
}
.mat-column-largo  {
    flex: 0 1 8em;
}
.mat-column-acciones {
    flex: 0 0 8em;
}

.mat-column-acciones .btn-xs {
    width: 1.75em;
    height: 1.75em;
}