<div class="card">
    <form class="card-body" [formGroup]="formFiltros" (ngSubmit)="submit()" novalidate>
        <h5 class="card-title">Filtros</h5>
        <div class="row">
            <div class="form-group col-6">
                <label>Socio
                    <ng-select [items]="socios$ | async" formControlName="socio" bindLabel="nombre" bindValue="id"
                        placeholder="Todos..."></ng-select>
                </label>
            </div>
            <div class="form-group col-4">
                <label>Evento
                    <ng-select [items]="eventos$ | async" formControlName="evento" bindLabel="nombre" bindValue="id"
                        placeholder="Todos..."></ng-select>
                </label>
            </div>
            <div class="form-group col-2">
                <label>Tipo
                    <ng-select [items]="tiposPlantilla$ | async" [searchable]="false" formControlName="tipo" bindLabel="nombre"
                        bindValue="id" placeholder="Todos..."></ng-select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label>Nombre de la Plantilla
                    <!--<input class="form-control" formControlName="nombre" placeholder="Todos..." />-->
                    <ng-select [items]="nombresPlantilla" formControlName="nombre"
                        placeholder="Todos...">
                    </ng-select>
                </label>
            </div>
            <div class="form-group col-3">
                <label>Estado de Vigencia
                    <ng-select [items]="estadosVigencia" bindLabel="nombre" bindValue="id" formControlName="vigencia"
                        placeholder="Todos...">
                    </ng-select>
                </label>
            </div>
            <div class="col-2 pt-4">
                <button type="submit" class="btn btn-primary w-100">Confirmar</button>
            </div>
        </div>
    </form>
</div>