.mat-table-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mat-table-container table {
    flex-grow: 1;
}

.mat-table-container mat-paginator {
    flex-grow: 0;
}

.th-acciones,
.td-acciones {
    width: 7em;
}
.td-acciones .btn-xs {
    width: 1.75em;
    height: 1.75em;
}