<div class="col">
    <div class="card my-2">
        <div class="card-body">
            <h5 class="card-title">Estructuras ANETO contenidas en el archivo</h5>
            <div *ngIf="cargandoEstructura" class="row">
                <div class="col justify-content-center align-items-center">
                    <mat-spinner></mat-spinner>
                </div>
            </div>
            <div class="row align-items-baseline" [hidden]="cargandoEstructura">
                <div class="col-md-10 form-group">
                    <label>Agregar Estructura
                        <ng-select [items]="estructurasSimples"
                            bindLabel="descripcion" [disabled]="cargandoEstructura"
                            [(ngModel)]="estructuraDisponibleSeleccionada" 
                            placeholder="Seleccione una estructura a agregar...">
                        </ng-select>
                    </label>
                </div>
                <div class="col-md-2 d-flex">
                    <button class="btn btn-primary w-100" (click)="onClickAgregarEstructura()" [disabled]="!estructuraDisponibleSeleccionada || cargandoEstructura">Agregar</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>Lista de Estructuras</h6>
                    <table mat-table #tablaEstructuras [dataSource]="estructuras">
                        <ng-container matColumnDef="codigo">
                            <th mat-header-cell *matHeaderCellDef> Código </th>
                            <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
                        </ng-container>
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef> Nombre </th>
                            <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
                        </ng-container>
                        <ng-container matColumnDef="columnas">
                            <th mat-header-cell *matHeaderCellDef> Columnas </th>
                            <td mat-cell *matCellDef="let row"> {{row.columnas.length}} </td>
                        </ng-container>
                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                            <td mat-cell *matCellDef="let row; let i=index">
                                <button class="btn-ver-estructura btn btn-xs btn-primary" matTooltip="Detalles" 
                                    (click)="onClickVerDetalles(i)">
                                    <fa-icon [icon]="icons.faEllipsisH" class="fas fa-ellipsis-h"></fa-icon>
                                </button>
                                <button class="btn-quitar-estructura btn btn-xs btn-danger" matTooltip="Quitar" 
                                    (click)="onClickQuitarEstructura(i)">
                                    <fa-icon [icon]="icons.faTimes" class="fas fa-times"></fa-icon>
                                </button>
                            </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="estructuraDisplayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: estructuraDisplayedColumns;"></tr>
                    </table>  
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="estructuraSeleccionada" class="mt-2">
        <app-transformaciones-columna-estructura 
            *ngIf="columnaEnTransformacion"
            [columnaEnTransformacion]="columnaEnTransformacion"
            [formatoFechasItems]="formatoFechasItems"
            [homologacionesItems]="homologacionesItems"
            [eventoNombre]="evento.nombre"
            [socioId]="socioId">
        </app-transformaciones-columna-estructura>
        <div class="row my-2">
            <div class="col">
                <h5>Columnas de Estructura '{{estructuraSeleccionada.descripcion}}'</h5>
                <table mat-table #tablaDetallesEstructura [dataSource]="estructuraSeleccionada.columnas">
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let columna"> {{columna.descripcion}} </td>
                    </ng-container>
                    <ng-container matColumnDef="valor">
                        <th mat-header-cell *matHeaderCellDef> Tipo de Valor </th>
                        <td mat-cell *matCellDef="let columna"> 
                            <div class="d-flex">
                                <ng-select [items]="tiposDato" [searchable]="false" 
                                    [(ngModel)]="columna.tipoDato" 
                                    placeholder="Sin valor..."
                                    bindValue="id" 
                                    bindLabel="descripcion"
                                    (change)="onChangeTipoDato(columna)"
                                    style="width: 11em">
                                </ng-select>
                                <ng-container *ngIf="columna.tipoDato">
                                    <ng-container *ngIf="columna.tipoDato === 1; then valorConstante; else valorDiccionario"></ng-container>
                                    <ng-template #valorConstante>
                                        <input class="form-control" type="text"
                                            [(ngModel)]="columna.valorFijo" 
                                            style="flex-grow: 1" />
                                    </ng-template>
                                    <ng-template #valorDiccionario>
                                        <ng-select [items]="atributosDiccionario" 
                                            [(ngModel)]="columna.atributoDiccionario" 
                                            bindLabel="nombreColumna"
                                            bindValue="idAtributoEst"
                                            style="flex-grow: 1">
                                        </ng-select>
                                    </ng-template>
                                </ng-container>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                        <td mat-cell *matCellDef="let columna; let i=index">
                            <button class="btn btn-xs btn-outline-primary border-secondary" matTooltip="Transformaciones"
                                [disabled]="!columna.esValida"
                                (click)="onClickVerTransformacionesColumna(i)">
                                <fa-icon [icon]="icons.faCogs" class="fas fa-cogs"></fa-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="estructuraColumnasDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let columna; columns: estructuraColumnasDisplayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
</div>