<div class="card">
    <form class="card-body" [formGroup]="formFiltros" (ngSubmit)="submit()" novalidate>
        <h5 class="card-title">Filtros</h5>
        <div class="row">
            <div class="form-group col-4">
                <label>Sistema 1
                    <ng-select [items]="sistemas$ | async" bindValue="id" bindLabel="nombre"
                        formControlName="sistema1" 
                        placeholder="Todos...">
                    </ng-select>
                </label>
            </div>

            <div class="form-group col">
                <label>Compañía 1
                    <ng-select [items]="socios$ | async" bindValue="id" bindLabel="nombre"
                        formControlName="socio1" 
                        placeholder="Todas...">
                    </ng-select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-4">
                <label>Sistema 2
                    <ng-select [items]="sistemas$ | async" bindValue="id" bindLabel="nombre"
                        formControlName="sistema2" 
                        placeholder="Todos...">
                    </ng-select>
                </label>
            </div>

            <div class="form-group col">
                <label>Compañía 2
                    <ng-select [items]="socios$ | async" bindValue="id" bindLabel="nombre"
                        formControlName="socio2" 
                        placeholder="Todas...">
                    </ng-select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label>Concepto
                    <ng-select [items]="conceptos$ | async" 
                        formControlName="concepto" 
                        placeholder="Todos...">
                    </ng-select>
                </label>
            </div>
            <div class="form-group col-3">
                <label>Estado de Vigencia
                    <ng-select [items]="estadosVigencia" bindLabel="descripcion" bindValue="id"
                        formControlName="vigencia" 
                        placeholder="Todos...">
                    </ng-select>
                </label>
            </div>
            <div class="col-2 pt-4">
                <button type="submit" class="btn btn-primary w-100">Confirmar</button>
            </div>
        </div>
    </form>
</div>