<div class="spinner-container" *ngIf="dataSource.carga$ | async">
    <mat-spinner></mat-spinner>
</div>
<div class="mat-table-container" [hidden]="dataSource.carga$ | async">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="concepto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Concepto </th>
            <td mat-cell *matCellDef="let row"> {{row.concepto}} </td>
        </ng-container>
        <ng-container matColumnDef="core1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sistema 1 </th>
            <td mat-cell *matCellDef="let row"> {{row.core1.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="socio1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Compañía 1 </th>
            <td mat-cell *matCellDef="let row"> {{row.socio1.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="valor1">
            <th mat-header-cell *matHeaderCellDef> Valor 1 </th>
            <td mat-cell *matCellDef="let row"> {{row.valor1}} </td>
        </ng-container>
        <ng-container matColumnDef="core2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sistema 2 </th>
            <td mat-cell *matCellDef="let row"> {{row.core2.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="socio2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Compañía 2 </th>
            <td mat-cell *matCellDef="let row"> {{row.socio2.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="valor2">
            <th mat-header-cell *matHeaderCellDef> Valor 2 </th>
            <td mat-cell *matCellDef="let row"> {{row.valor2}} </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef class="th-acciones"> Acciones </th>
            <td mat-cell *matCellDef="let row" class="td-acciones">
                <button class="btn btn-xs btn-outline-primary border-secondary" matTooltip="Editar" 
                    (click)="onClickEditarHomologacion(row)" [hidden]="ocultarPorPermisos" >
                    <fa-icon [icon]="icons.faEdit" class="fas fa-edit"></fa-icon>
                </button>&nbsp;
                <button class="btn btn-xs btn-outline-danger border-secondary" matTooltip="Activar" 
                    *ngIf="row.vigencia==='N'" 
                    (click)="onClickActivarHomologacion(row)" [hidden]="ocultarPorPermisos">
                    <fa-icon [icon]="icons.faBan" class="fas fa-ban"></fa-icon>
                </button>
                <button class="btn btn-xs btn-outline-success border-secondary" matTooltip="Desactivar" 
                    *ngIf="row.vigencia==='Y'" 
                    (click)="onClickDesactivarHomologacion(row)" [hidden]="ocultarPorPermisos">
                    <fa-icon [icon]="icons.faCheck" class="fas fa-check"></fa-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <div class="row">
        <div class="col-4">
            <button class="btn btn-success border-secondary" 
                (click)="onClickExportar()" [disabled]="!canExport()">
                Exportar Vista Actual a Excel
            </button>
        </div>
        <div class="col">
            <div class="d-flex">
                <mat-paginator class="ml-auto"
                    [pageSizeOptions]="[10, 25, 50, 100]"
                    showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
