app-tabla-estructuras {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

table {
    flex-grow: 1;
}

.th-acciones,
.td-acciones {
    width: 7em;
}
.td-acciones .btn-xs {
    width: 1.75em;
    height: 1.75em;
}