<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <p [innerHTML]="data.content"></p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onCloseClick()">Cerrar</button>
</div>
