<div class="col">
    <form class="card" [formGroup]="campoArchivoForm" (ngSubmit)="onSubmitColumna()" novalidate>
        <div class="card-body">
            <h5 class="card-title">Añadir Columna</h5>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Nombre
                            <input type="text" class="form-control" formControlName="nombre" />
                        </label>
                        <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-warning">
                            <span *ngIf="nombre.errors.required">Este es un campo requerido.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Tipo de Dato
                            <ng-select [items]="tiposDato$ | async" [clearable]="false" [searchable]="false"
                                bindLabel="nombre" 
                                formControlName="tipoDato">
                            </ng-select>
                        </label>
                        <div *ngIf="tipoDato.invalid && (tipoDato.dirty || tipoDato.touched)"
                            class="alert alert-warning">
                            <span *ngIf="tipoDato.errors.required">Este es un campo requerido.</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Posición Inicial
                            <input class="form-control" 
                                type="number" min="0" 
                                formControlName="posInicial" />
                        </label>
                        <div *ngIf="posInicial.invalid && (posInicial.dirty || posInicial.touched)"
                            class="alert alert-warning">
                            <span *ngIf="posInicial.errors.required">Este es un campo requerido.</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Posición Final
                            <input class="form-control" 
                                type="number" min="1"
                                formControlName="posFinal" />
                        </label>
                        <div *ngIf="posFinal.invalid && (posFinal.dirty || posFinal.touched)" class="alert alert-warning">
                            <span *ngIf="posFinal.errors.required">Este es un campo requerido.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col text-right">
                    <button type="submit" class="btn btn-primary" 
                        [disabled]="!campoArchivoForm.valid">
                        Aceptar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>