<h1>Mantenedor de Homologaciones</h1>
<app-filtros-homologaciones [hidden]="selectedAction!=='filtrar'"></app-filtros-homologaciones>
<app-importar-homologaciones *ngIf="selectedAction === 'importar'"></app-importar-homologaciones>
<app-formulario-homologaciones *ngIf="selectedAction === 'editar'"></app-formulario-homologaciones>
<div class="row my-2">
    <div class="col text-left">
        <button class="btn btn-success border-secondary" [class.active]="selectedAction==='filtrar'" (click)="onClickAccion('filtrar')">Filtrar Resultados</button>
    </div>
    <div class="col text-center">
        <button class="btn btn-success border-secondary" [class.active]="selectedAction==='importar'" [hidden]="ocultarPorPermisos" (click)="onClickAccion('importar')">Importar Homologaciones</button>
    </div>
    <div class="col text-right">
        <button class="btn btn-success border-secondary" [class.active]="selectedAction==='editar'" [hidden]="ocultarPorPermisos" (click)="onClickAccion('editar')">Registrar Nueva Homologación</button>
    </div>
</div>
<app-tabla-homologaciones (editHomologacion)="onClickEditHomologacion($event)"></app-tabla-homologaciones>