<h2 mat-dialog-title>{{data.titulo}}</h2>
<mat-dialog-content>{{data.mensaje}}</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-around">
  <button class="btn border-secondary {{data.boton_si_clases}}" [mat-dialog-close]="true">Sí</button>
  <button class="btn border-secondary {{data.boton_no_clases}}" mat-dialog-close autofocus>No</button>
</mat-dialog-actions>
