<h1>Mantenedor de Procesos de Carga</h1>
<app-filtros-procesos-carga *ngIf="selectedAction === 'filtrar'"></app-filtros-procesos-carga>
<app-creacion-procesos-carga *ngIf="selectedAction === 'editar'"></app-creacion-procesos-carga>
<div class="row my-2">
  <div class="col text-left">
    <button class="btn btn-success border-secondary" [class.active]="selectedAction==='filtrar'" (click)="onClickAccion('filtrar')">
      Filtrar Resultados</button>
  </div>
  
  <div class="col text-right">
    <button class="btn btn-success border-secondary" [hidden]="ocultarPorPermisos" [class.active]="selectedAction==='editar'" (click)="onClickAccion('editar')">
      Agregar Nuevo Proceso de Carga</button>
  </div>
</div>
<app-tabla-procesos-carga (editProcesosCarga)="onClickEditProcesosCarga($event)"></app-tabla-procesos-carga>