<div class="card">
    <form class="card-body" [formGroup]="formFiltros" (ngSubmit)="submit()" novalidate>
        <h5 class="card-title">Filtros</h5>
        <div class="row">
            <div class="form-group col-6">
                <label>Socio
                    <ng-select [items]="socios$ | async" [clearable]="true" formControlName="socios" bindValue="id" bindLabel="nombre"
                        placeholder="Todos">
                    </ng-select>
                </label>
            </div>
            <div class="form-group col-6">
                <label>Evento
                    <ng-select [items]="eventos$ | async" [clearable]="true" formControlName="eventos" bindValue="id" bindLabel="nombre"
                        placeholder="Todos">
                    </ng-select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label>Nombre Proceso
                    <ng-select [items]="nombresProceso" 
                        [clearable]="true" 
                        formControlName="nombreProceso" 
                        bindValue="nombre" 
                        bindLabel="nombre" 
                        placeholder="Buscar">
                    </ng-select>
                </label>
            </div>
            <div class="form-group col-3">
                <label>Vigencia
                    <ng-select [items]="estadosVigencia" [clearable]="true" formControlName="estado" bindValue="id" bindLabel="descripcion"
                        placeholder="Todas">
                    </ng-select>
                </label>
            </div>
            <div class="col-3 pt-4">
                <button type="submit" class="btn btn-primary w-100" [disabled]="!formFiltros.valid" (click)="confirmarFiltrarResultados()">
                    Confirmar
                </button>
            </div>
        </div>
    </form>
</div>
