<div class="col" style="min-height: 30em" [formGroup]="creacionArchivoEntradaForm">
    <h5>Propiedades de Archivo</h5>
    <div class="form-group">
        <label>Nombre
            <input type="text" class="form-control" formControlName="nombre" />
        </label>
        <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-warning">
            <span *ngIf="nombre.errors.required">Este es un campo requerido.</span>
        </div>
    </div>
    <div class="row align-items-baseline">
        <div class="col form-inline">
            <label>Delimitador de columnas
                <input type="text" class="form-control ml-2" style="width: 3em" formControlName="delimitadorColumnas" />
            </label>
            <div *ngIf="delimitadorColumnas.invalid && (delimitadorColumnas.dirty || delimitadorColumnas.touched)"
                class="alert alert-warning">
                <span *ngIf="delimitadorColumnas.errors.required">Este es un campo requerido.</span>
            </div>
        </div>
        <div class="col text-right">
            <mat-checkbox formControlName="noRealizarTransformaciones">
                No realizar transformación de datos
            </mat-checkbox>
        </div>
    </div>
    <div class="row mt-2 align-items-baseline">
        <div class="col">
            <div class="form-inline">
                <label>Saltar las primeras
                    <input class="form-control mx-2" style="width: 4em"
                        type="number" min="0" 
                        formControlName="saltarRegistrosIniciales" />
                </label>
                <label>y las últimas
                    <input class="form-control mx-2" style="width: 4em"
                        type="number" min="0" 
                        formControlName="saltarRegistrosFinales" />
                    filas
                </label>
            </div>
            <div *ngIf="(saltarRegistrosIniciales.invalid || saltarRegistrosFinales.invalid) && (saltarRegistrosIniciales.dirty || saltarRegistrosIniciales.touched ||  saltarRegistrosFinales.dirty || saltarRegistrosFinales.touched)" class="alert alert-warning">
                <span *ngIf="saltarRegistrosIniciales.errors.min || saltarRegistrosFinales.errors.min">No se aceptan números negativos.</span>
                <span *ngIf="saltarRegistrosIniciales.errors.maxLength || saltarRegistrosFinales.errors.maxLength">El o los números de salto están fuera del rango permitido.</span>
            </div>
        </div>
        <div class="col-3">
            <div class="form-inline">
                <label>Hoja N°
                    <input class="form-control ml-2" style="width: 4em" 
                        type="number" min="0" 
                        formControlName="numeroHoja" />
                </label>
            </div>
            <div *ngIf="numeroHoja.invalid && (numeroHoja.dirty || numeroHoja.touched)" class="alert alert-warning">
                <span *ngIf="numeroHoja.errors.required">Este es un campo requerido.</span>
                <span *ngIf="numeroHoja.errors.min">Número de hoja inválido.</span>
            </div>
        </div>
    </div>

    <div class="row my-3 align-items-baseline">
        <div class="col-3">
            <h5>Columnas</h5>
        </div>
        <div class="col text-right">
            <button class="btn btn-light border-secondary mr-3" 
                (click)="onClickAgregarColumna()"
                [disabled]="isVerMode">
                Agregar columna
            </button>
            <button class="btn btn-light border-secondary" 
                (click)="onClickGenerarDesdeArchivo()"
                [disabled]="isVerMode">
                Generar columnas desde archivo
            </button>
        </div>
    </div>

    <app-columna-archivo-entrada-edicion class="row my-2" 
        *ngIf="showCampoArchivoForm"
        [DelimitadorColumnas]="delimitadorColumnas.value"
        [accionUser]="accionUser" 
        (columnaSubmit)="onReceiveColumna($event)"
        (PosInicial)="onReceivePosInicial($event)"
        (PosFinal)="onReceivePosFinal($event)">
    </app-columna-archivo-entrada-edicion>

    <div class="columnas-container">
        <table mat-table #tablaColumnasArchivo [dataSource]="_archivo.columnas">
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
            </ng-container>
            <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef> Tipo </th>
                <td mat-cell *matCellDef="let row"> {{row.tipoDato?.nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="posicion">
                <th mat-header-cell *matHeaderCellDef> Posición </th>
                <td mat-cell *matCellDef="let row"> {{row.posicionInicial}}-{{row.posicionFinal}} </td>
            </ng-container>
            <ng-container matColumnDef="llave">
                <th mat-header-cell *matHeaderCellDef> Llave </th>
                <td mat-cell *matCellDef="let row"> {{row.esLlave}} </td>
            </ng-container>
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let row; let i=index">
                    <mat-checkbox class="m-3" matTooltip="Seleccionar (para mapear)"
                        [disabled]="isVerMode"
                        [checked]="indiceColumnaSeleccionada === i"
                        (change)="onClickSelectColumna($event, i)" >
                    </mat-checkbox>
                    <button class="btn btn-xs btn-outline-primary border-secondary" matTooltip="Subir"
                        [disabled]="isVerMode || i===0"
                        (click)="onClickSubirColumna(i)" >
                        <fa-icon [icon]="icons.faCaretUp" class="fas fa-caret-up"></fa-icon>
                    </button>
                    <button class="btn btn-xs btn-outline-primary border-secondary" matTooltip="Bajar"
                        [disabled]="isVerMode || i+1===_archivo.columnas.length"
                        (click)="onClickBajarColumna(i)">
                        <fa-icon [icon]="icons.faCaretDown" class="fas fa-caret-down"></fa-icon>
                    </button>
                    <button class="btn btn-xs btn-outline-danger border-secondary" matTooltip="Quitar"
                        [disabled]="isVerMode || row.mapeada"
                        (click)="onClickQuitarColumna(i)">
                        <fa-icon [icon]="icons.faTimes" class="fas fa-times"></fa-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="archivoCamposDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: archivoCamposDisplayedColumns;"></tr>
        </table>
    </div>

</div>
