.custom-table-cell {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#tablaColumnasTrabajo .td-acciones, 
#tablaColumnasTrabajo .th-acciones {
    width: 4em;
}

#tablaMapeosIntegracion .td-acciones, 
#tablaMapeosIntegracion .th-acciones,
#tablaColumnasArchivoIntegracion .td-acciones, 
#tablaColumnasArchivoIntegracion .th-acciones {
    width: 6em;
}