.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

mat-sidenav-content {
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

mat-sidenav-content app-header {
    flex-grow: 0;
}

mat-sidenav-content .sidenav-content {
    flex-grow: 1;
    overflow: auto;
    border: 1px solid #555;
    padding: 1em;
}

mat-sidenav {
    padding-top: 2em;
    padding-bottom: 2em;
    border-right: none !important;
}
mat-sidenav[opened] {
    min-width: 270px;
}

.sidenav h5 {
    text-align: center;
    margin-bottom: 0.75em;
    font-weight: bold;
}

.sidenav .btn-success {
    color: #E8E8E8;
    width: 100%;
    border-color: #009260 !important;
    border-radius: 1px;
}

mat-nav-list .fas {
    padding-top: 0px;
    margin-right: 6px;
}

fa-icon {
    font-size: 1.2em;
}

.active-list-item {
    background-color: #007240 !important; 
    color: white !important
  }