.mat-column-acciones .btn-xs {
    width: 1.5em;
    height: 1.5em;
}

.mat-column-acciones .btn-xs fa-icon {
    font-size: 1em;
}

.mat-column-acciones .btn-xs > fa-icon.fa-ban,
.mat-column-acciones .btn-xs > fa-icon.fa-times {
    padding-top: 0px;
    padding-bottom: 2px;
}

.mat-column-acciones .btn-xs > fa-icon.fa-ellipsis-h,
.mat-column-acciones .btn-xs > fa-icon.fa-check {
    padding-top: 0px;
}

.mat-column-acciones .btn-xs > fa-icon.fa-caret-up {
    padding-top: 0px;
    padding-bottom: 4px;
}

.mat-column-acciones .btn-xs > fa-icon.fa-caret-down {
    padding-top: 0px;
    padding-bottom: 4px;
}