<h2 mat-dialog-title>Editar Fórmula para Columna de Trabajo</h2>
<mat-dialog-content [formGroup]="formulasPlantillaIntegracionForm">
    <div class="row py-2 border-bottom border-lighter">
        <div class="col">
            Columna: {{columnaNombre}}
        </div>
        <div class="col">
            Evento: {{eventoNombre}}
        </div>
    </div>
    <ng-container *ngIf="editMode">
        <div class="row mt-2">
            <div class="col-7">
                <div class="form-group">
                    <label for="operadorFuncionSelect">Operadores y Funciones</label>
                    <div class="form-inline">
                        <ng-select [items]="operadoresFunciones" [clearable]="false"  style="width: 60%"
                            groupBy="categoria"
                            bindLabel="descripcion"
                            formControlName="operadorFuncion" id="operadorFuncionSelect">
                        </ng-select>
                        <button class="btn btn-xs btn-primary ml-2" 
                            [disabled]="!operadorFuncion.value || (formula && !nodoSeleccionado)" 
                            (click)="onClickAgregarOperadorOFuncion()">
                            {{formula? 'Reemplazar' : 'Agregar'}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="form-group">
                    <label for="atributoEnriquecimientoSelect">Atributos de Enriquecimiento</label>
                    <ng-select [items]="atributosEnriquecimiento" [clearable]="false"   style="width: 100%"
                        bindLabel="nombreColumna" 
                        formControlName="atributoEnriquecimiento" id="atributoEnriquecimientoSelect">
                    </ng-select>
                </div>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-4">
                <div class="form-group">
                    <label for="valorConstanteInput">Constante ({{constanteEsNumerica? 'Número' : 'Texto'}})</label>
                    <div class="form-inline">
                        <div class="input-group mr-0" style="width: 60%">
                            <input type="text" class="form-control"
                                formControlName="valorConstante" id="valorConstanteInput" />
                            <div class="input-group-append">
                                <button class="btn btn-primary font-weight-bold" matTooltip="Cambiar" 
                                    type="button" 
                                    (click)="onToggleConstanteNumerica()">
                                    {{constanteEsNumerica? 'N' : 'T'}}
                                </button>
                            </div>
                        </div>
                        <button class="btn btn-xs btn-primary ml-2" 
                            [disabled]="(!valorConstante.value && constanteEsNumerica) || (formula && !nodoSeleccionado)"
                            (click)="onClickAgregarConstante()">
                            {{formula? 'Reemplazar' : 'Agregar'}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="estructuraLogicaSelect">Estructuras Lógicas</label>
                    <div class="form-inline">
                        <ng-select [items]="estructurasLogicas" [clearable]="false" style="width: 60%"
                            groupBy="categoria"
                            bindLabel="descripcion"
                            formControlName="estructuraLogica" id="estructuraLogicaSelect">
                        </ng-select>
                        <button class="btn btn-xs btn-primary ml-2" 
                            [disabled]="!estructuraLogica.value || (formula && !nodoSeleccionado)"
                            (click)="onClickAgregarEstructuraLogica()">
                            {{formula? 'Reemplazar' : 'Agregar'}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="columnaTrabajoSelect">Columnas de Trabajo</label>
                    <div class="form-inline">
                        <ng-select [items]="columnasTrabajo" [clearable]="false"  style="width: 60%"
                            bindLabel="nombre" 
                            formControlName="columnaTrabajo" id="columnaTrabajoSelect">
                        </ng-select>
                        <button class="btn btn-xs btn-primary ml-2" 
                            [disabled]="columnasTrabajo.length === 0 || !columnaTrabajo.value || (formula && !nodoSeleccionado)"
                            (click)="onClickAgregarColumnaTrabajo()">
                            {{formula? 'Reemplazar' : 'Agregar'}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <div class="row py-2 align-items-stretch border-top border-lighter">
        <div class="col" style="height: 18em; overflow: auto">

            <mat-tree #formulaTree [dataSource]="treeDataSource" [treeControl]="treeControl">
                

                <mat-nested-tree-node *matTreeNodeDef="let node; when: isEnriquecimientoRootNode">
                    <div class="mat-tree-node" [class.invalid-node]="!node.valido">
                        <span>
                            <mat-checkbox [checked]="nodoSeleccionado===node" matTooltip="Seleccionar" 
                                [disabled]="!editMode" 
                                (change)="onClickNodoFormula($event, node)">
                                {{ labels(_,node) + node.descripcion }}
                            </mat-checkbox>
                            <button class="btn btn-xs btn-light border-secondary rounded-circle" matTooltip="Alternar vista" 
                                [attr.aria-label]="'toggle ' + node.tipo"
                                [hidden]="!hasChildren(_,node)"
                                matTreeNodeToggle>
                                <fa-icon [icon]="treeControl.isExpanded(node) ? node.icons.faChevronDown : node.icons.faChevronRight"></fa-icon>
                            </button>
                        </span>
                    </div>
                    <ul [class.invisible-node]="!treeControl.isExpanded(node)">
                        <ng-container matTreeNodeOutlet></ng-container>
                    </ul>
                </mat-nested-tree-node>

                
                <mat-nested-tree-node *matTreeNodeDef="let node; when: isEnriquecimientoChildNode">
                        <li class="mat-tree-node" [class.invalid-node]="!node.valido">
                            <span>
                                <mat-checkbox [checked]="nodoSeleccionado===node" matTooltip="Seleccionar" 
                                    [disabled]="!editMode" 
                                    (change)="onClickNodoFormula($event, node)">
                                    {{
                                        labels(_,node) + node.descripcion
                                    }}
                                </mat-checkbox>
                                <button class="btn btn-xs btn-light border-secondary rounded-circle" matTooltip="Alternar vista" 
                                    [attr.aria-label]="'toggle ' + node.tipo"
                                    matTreeNodeToggle>
                                    <fa-icon [icon]="treeControl.isExpanded(node) ? node.icons.faChevronDown : node.icons.faChevronRight"></fa-icon>
                                </button>
                                <button class="btn btn-xs btn-light border-secondary rounded-circle" matTooltip="Remover" 
                                    *ngIf="hasInfiniteSiblings(_,node)" 
                                    [attr.aria-label]="'remove ' + node.descripcion" 
                                    [hidden]="!editMode" 
                                    (click)="onClickRemoverNodo(node)">
                                    <fa-icon [icon]="node.icons.faTimes" class="fas fa-times"></fa-icon>
                                </button>
                            </span>
                        </li>
                        <ul [class.invisible-node]="!treeControl.isExpanded(node)">
                            <ng-container matTreeNodeOutlet></ng-container>
                        </ul>
                    </mat-nested-tree-node>
                    
                <mat-nested-tree-node *matTreeNodeDef="let node; when: isPredefinedRootNode">
                    <div class="mat-tree-node" [class.invalid-node]="!node.valido">
                        <span>
                            <mat-checkbox [checked]="nodoSeleccionado===node" matTooltip="Seleccionar" 
                                (change)="onClickNodoFormula($event, node)"
                                [disabled]="!editMode">
                                {{ labels(_,node) + node.descripcion }}
                            </mat-checkbox>
                        </span>
                    </div>
                </mat-nested-tree-node>

                <mat-nested-tree-node *matTreeNodeDef="let node; when: isPrimitiveRootNode">
                    <div class="mat-tree-node" [class.invalid-node]="!node.valido">
                        <span>
                            <mat-checkbox [checked]="nodoSeleccionado===node" matTooltip="Seleccionar" 
                                (change)="onClickNodoFormula($event, node)"
                                [disabled]="!editMode">
                                {{ labels(_,node) + node.descripcion }}: '{{node.valor}}'
                            </mat-checkbox>
                        </span>
                    </div>
                </mat-nested-tree-node>

                <mat-nested-tree-node *matTreeNodeDef="let node; when: isRootNodeWithInfiniteChildrenNodes">
                    <div class="mat-tree-node" [class.invalid-node]="!node.valido">
                        <span>
                            <mat-checkbox [checked]="nodoSeleccionado===node" matTooltip="Seleccionar" 
                                (change)="onClickNodoFormula($event, node)"
                                [disabled]="!editMode">
                                {{ labels(_,node) + node.descripcion }}
                            </mat-checkbox>
                            <button class="btn btn-xs btn-light border-secondary rounded-circle" matTooltip="Crear nodo hijo" 
                                (click)="onClickAgregarHijo(node)"
                                [hidden]="!editMode">
                                <fa-icon [icon]="node.icons.faPlus" class="fas fa-plus"></fa-icon>
                            </button>
                            <button class="btn btn-xs btn-light border-secondary rounded-circle" matTooltip="Alternar vista" 
                                [attr.aria-label]="'toggle ' + node.tipo"
                                [hidden]="!hasChildren(_,node)"
                                matTreeNodeToggle>
                                <fa-icon [icon]="treeControl.isExpanded(node) ? node.icons.faChevronDown : node.icons.faChevronRight"></fa-icon>
                            </button>
                        </span>
                    </div>
                    <ul [class.invisible-node]="!treeControl.isExpanded(node)">
                        <ng-container matTreeNodeOutlet></ng-container>
                    </ul>
                </mat-nested-tree-node>

                <mat-nested-tree-node *matTreeNodeDef="let node; when: isParentRootNode">
                    <div class="mat-tree-node" [class.invalid-node]="!node.valido">
                        <span>
                            <mat-checkbox [checked]="nodoSeleccionado===node" matTooltip="Seleccionar" 
                                (change)="onClickNodoFormula($event, node)"
                                [disabled]="!editMode">
                                {{ labels(_,node) + node.descripcion }}
                            </mat-checkbox>
                            <button class="btn btn-xs btn-light border-secondary rounded-circle" matTooltip="Alternar vista" 
                                [attr.aria-label]="'toggle ' + node.tipo"
                                matTreeNodeToggle>
                                <fa-icon [icon]="treeControl.isExpanded(node) ? node.icons.faChevronDown : node.icons.faChevronRight"></fa-icon>
                            </button>
                        </span>
                    </div>
                    <ul [class.invisible-node]="!treeControl.isExpanded(node)">
                        <ng-container matTreeNodeOutlet></ng-container>
                    </ul>
                </mat-nested-tree-node>

                <mat-nested-tree-node *matTreeNodeDef="let node; when: isParentChildNode">
                    <li>
                        <span class="parent-child">
                            <div class="mat-tree-node" [class.invalid-node]="!node.valido">
                                <span>
                                    <mat-checkbox [checked]="nodoSeleccionado===node" matTooltip="Seleccionar" 
                                        [disabled]="!editMode" 
                                        (change)="onClickNodoFormula($event, node)">
                                        {{ labels(_,node) + node.descripcion }}
                                    </mat-checkbox>
                                    <button class="btn btn-xs btn-light border-secondary rounded-circle" matTooltip="Alternar vista" 
                                        [attr.aria-label]="'toggle ' + node.descripcion"
                                        matTreeNodeToggle>
                                        <fa-icon [icon]="treeControl.isExpanded(node) ? node.icons.faChevronDown : node.icons.faChevronRight"></fa-icon>
                                    </button>
                                    <button class="btn btn-xs btn-light border-secondary rounded-circle" matTooltip="Remover" 
                                        *ngIf="hasInfiniteSiblings(_,node)" 
                                        [attr.aria-label]="'remove ' + node.descripcion" 
                                        [hidden]="!editMode" 
                                        (click)="onClickRemoverNodo(node)">
                                        <fa-icon [icon]="node.icons.faTimes" class="fas fa-times"></fa-icon>
                                    </button>
                                </span>
                            </div>
                            <ul [class.invisible-node]="!treeControl.isExpanded(node)">
                                <ng-container matTreeNodeOutlet></ng-container>
                            </ul>
                        </span>
                    </li>
                </mat-nested-tree-node>

                <mat-nested-tree-node *matTreeNodeDef="let node; when: isChildNodeWithInfiniteChildrenNodes">
                    <li>
                        <span class="parent-child">
                            <div class="mat-tree-node" [class.invalid-node]="!node.valido">
                                <span>
                                    <mat-checkbox [checked]="nodoSeleccionado===node" matTooltip="Seleccionar" 
                                        [disabled]="!editMode" 
                                        (change)="onClickNodoFormula($event, node)">
                                        {{ labels(_,node) + node.descripcion }}
                                    </mat-checkbox>
                                    <button class="btn btn-xs btn-light border-secondary rounded-circle" matTooltip="Crear nodo hijo" 
                                        [hidden]="!editMode" 
                                        (click)="onClickAgregarHijo(node)">
                                        <fa-icon [icon]="node.icons.faPlus" class="fas fa-plus"></fa-icon>
                                    </button>
                                    <button class="btn btn-xs btn-light border-secondary rounded-circle" matTooltip="Alternar vista" 
                                        [attr.aria-label]="'toggle ' + node.descripcion"
                                        [hidden]="!hasChildren(_,node)"
                                        matTreeNodeToggle>
                                        <fa-icon [icon]="treeControl.isExpanded(node) ? node.icons.faChevronDown : node.icons.faChevronRight"></fa-icon>
                                    </button>
                                    <button class="btn btn-xs btn-light border-secondary rounded-circle" matTooltip="Remover" 
                                        *ngIf="hasInfiniteSiblings(_,node)" 
                                        [attr.aria-label]="'remove ' + node.descripcion" 
                                        [hidden]="!editMode"
                                        (click)="onClickRemoverNodo(node)">
                                        <fa-icon [icon]="node.icons.faTimes" class="fas fa-times"></fa-icon>
                                    </button>
                                </span>
                            </div>
                            <ul [class.invisible-node]="!treeControl.isExpanded(node)">
                                <ng-container matTreeNodeOutlet></ng-container>
                            </ul>
                        </span>
                    </li>
                </mat-nested-tree-node>

                <mat-nested-tree-node *matTreeNodeDef="let node; when: isPredefinedChildNode">
                    <li class="mat-tree-node" [class.invalid-node]="!node.valido">
                        <span>
                            <mat-checkbox [checked]="nodoSeleccionado===node" matTooltip="Seleccionar" 
                                [disabled]="!editMode" 
                                (change)="onClickNodoFormula($event, node)">
                                {{ labels(_,node) + node.descripcion }}
                            </mat-checkbox>
                            <button class="btn btn-xs btn-light border-secondary rounded-circle" matTooltip="Remover" 
                                *ngIf="hasInfiniteSiblings(_,node)" 
                                [attr.aria-label]="'remove ' + node.descripcion" 
                                [hidden]="!editMode" 
                                (click)="onClickRemoverNodo(node)">
                                <fa-icon [icon]="node.icons.faTimes" class="fas fa-times"></fa-icon>
                            </button>
                        </span>
                    </li>
                </mat-nested-tree-node>

                <mat-nested-tree-node *matTreeNodeDef="let node; when: isPrimitiveChildNode">
                    <li class="mat-tree-node" [class.invalid-node]="!node.valido">
                        <span>
                            <mat-checkbox [checked]="nodoSeleccionado===node" matTooltip="Seleccionar" 
                                [disabled]="!editMode" 
                                (change)="onClickNodoFormula($event, node)">
                                {{ labels(_,node) + node.descripcion }}: '{{node.valor}}'
                            </mat-checkbox>
                            <button class="btn btn-xs btn-light border-secondary rounded-circle" matTooltip="Remover" 
                                *ngIf="hasInfiniteSiblings(_,node)" 
                                [attr.aria-label]="'remove ' + node.descripcion" 
                                [hidden]="!editMode" 
                                (click)="onClickRemoverNodo(node)">
                                <fa-icon [icon]="node.icons.faTimes" class="fas fa-times"></fa-icon>
                            </button>
                        </span>
                    </li>
                </mat-nested-tree-node>

            </mat-tree>
        </div>

        <div class="col-4" *ngIf="formula">
            <div class="card">
                <div class="card-body" style="height: 17em; overflow-y: auto;">
                    <h5 class="card-title">Notación Excel</h5>
                    <p>{{ formulaNotacionExcel }}</p>
                </div>
            </div>
        </div>
    </div>


</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-around">
    <button class="btn border-secondary btn-primary" (click)="onClickAceptarFormula()" [disabled]="formula === null || !editMode">Aceptar</button>
    <button class="btn border-secondary btn-light" [mat-dialog-close]="null" autofocus>Cancelar</button>
</mat-dialog-actions>