.mat-tree-node, ul, li {
    margin-left: 2em;
    width: fit-content;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .mat-tree-node {
        margin-left: 0px;
        display: table;
    }
}

.mat-tree-node {
    text-align: left;
    min-height: 2.5em;
}

.mat-tree-node.invalid-node {
    background-color: red;
}

.mat-tree-node > span {
    display: inline-flex;
    align-items: center;
}

.invisible-node {
    display: none;
}

ul {
    padding-inline-start: 0px;
    margin: 0px 0px 0px 2em; 
    padding: 0px;
}
.mat-tree-node.parent-child > ul {
    padding: 1em 0px 0px 0px;
}

li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 0px;
    padding: 0.1em;
}

.btn.rounded-circle {
    display: inline-flex;
    width: 1.75em;
    height: 1.75em;
    padding: 0.2em;
    margin: 4px;
}

.btn.rounded-circle > .fas {
    display: inline;
    align-self: center;
    justify-self: center;
}