<app-transformaciones-columna-estructura 
    *ngIf="columnaEnTransformacion"
    [columnaEnTransformacion]="columnaEnTransformacion" 
    [formatoFechasItems]="formatoFechasItems$ | async"
    [homologacionesItems]="homologacionesItems$ | async" 
    [eventoNombre]="evento.nombre" 
    [socioId]="socioId">
</app-transformaciones-columna-estructura>
<div class="row my-2">
    <div class="col">
        <h5>Columnas de Estructura '{{descripcion}}'</h5>
        <table mat-table #tablaDetallesEstructura [dataSource]="columnas">
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let columna"> {{columna.descripcion}} </td>
            </ng-container>
            <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef> Tipo de Valor </th>
                <td mat-cell *matCellDef="let columna">
                    <div class="d-flex">
                        <ng-select [items]="tiposDato"
                            [searchable]="false"
                            [(ngModel)]="columna.tipoDato"
                            placeholder="Sin valor..." style="width: 11em"
                            bindValue="id" bindLabel="descripcion"
                            (change)="onChangeTipoDato(columna)">
                        </ng-select>
                        <ng-container *ngIf="columna.tipoDato">
                            <ng-container *ngIf="columna.tipoDato === 1; then valorConstante; else valorDiccionario">
                            </ng-container>
                            <ng-template #valorConstante>
                                <input class="form-control" type="text" [(ngModel)]="columna.valorFijo"
                                    style="flex-grow: 1" />
                            </ng-template>
                            <ng-template #valorDiccionario>
                                <ng-select [items]="atributosDiccionario$ | async" [(ngModel)]="columna.atributoDiccionario"
                                    bindLabel="nombreColumna" bindValue="idAtributoEst" style="flex-grow: 1">
                                </ng-select>
                            </ng-template>
                        </ng-container>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef class="th-acciones"> Acciones </th>
                <td mat-cell *matCellDef="let columna; let i=index" class="td-acciones">
                    <button class="btn btn-xs btn-outline-primary border-secondary" matTooltip="Transformaciones"
                        [disabled]="!columna.esValida" (click)="onClickVerTransformacionesColumna(i)">
                        <fa-icon [icon]="icons.faCogs" class="fas fa-cogs"></fa-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="estructuraColumnasDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let columna; columns: estructuraColumnasDisplayedColumns;"></tr>
        </table>
    </div>
</div>