<div class="formulario-estructuras" novalidate>
    <h3 class="mb-3">{{ idEstructura? (modoVer? 'Ver' : 'Editar') : 'Crear' }} {{ esSubestructura? 'Subestructura' : 'Estructura' }}</h3>
    <div [formGroup]="creacionEstructuraForm">
        <div class="row">
            <div class="form-group col-4">
                <label>Código de Estructura
                    <input type="text" class="form-control" 
                        formControlName="codigo" 
                        placeholder="Ingrese un código único..." />
                </label>
                <div *ngIf="codigo.invalid && (codigo.dirty || codigo.touched)" class="alert alert-warning">
                    <div *ngIf="codigo.errors?.required">Este es un campo requerido.</div>
                </div>
            </div>

            <div class="form-group col">
                <label>Descripción de Estructura
                    <input type="text" class="form-control" 
                        formControlName="descripcion" 
                        placeholder="Ingrese un nombre único..." />
                </label>
                <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="alert alert-warning">
                    <div *ngIf="descripcion.errors?.required">Este es un campo requerido.</div>
                </div>
            </div>
        </div>
        <div class="row justify-content-end align-items-center">
            <div class="form-group col-2">
                <mat-checkbox class="mt-3" formControlName="esSubEstructura">Sub-Estructura</mat-checkbox>
            </div>
            <div class="form-group col-3">
                <label class="mr-1">Cardinalidad Mínima
                    <input type="number" min="0" class="form-control" 
                        formControlName="cardMin" 
                        placeholder="Ingrese un número..." />
                </label>
                <div *ngIf="cardMin.invalid && (cardMin.dirty || cardMin.touched)" class="alert alert-warning">
                    <div *ngIf="cardMin.errors?.required">Este es un campo requerido.</div>
                    <div *ngIf="cardMin.errors?.min">El valor mínimo no puede ser igual o menor a 0.</div>
                </div>
            </div>
            <div class="form-group col-3">
                <label class="mr-1">Cardinalidad Máxima
                    <input type="number" min="1" class="form-control" 
                        formControlName="cardMax" 
                        placeholder="Ingrese un número..." />
                </label>
                <div *ngIf="cardMax.invalid && (cardMax.dirty || cardMax.touched)" class="alert alert-warning">
                    <div *ngIf="cardMax.errors?.required">Este es un campo requerido.</div>
                </div>
            </div>
        </div>
    </div>

    <div [hidden]="modoVer" class="card my-3">
        <div class="card-body" [formGroup]="creacionColumnaForm">
            <h6 class="card-title">Añadir Columna</h6>
            <div class="row">
                <div class="form-group col-4">
                    <label>Código
                        <input type="text" class="form-control" 
                            formControlName="codigo" 
                            placeholder="Ingrese un código de columna único..." />
                    </label>
                    <div *ngIf="columnaCodigo.invalid && (columnaCodigo.dirty || columnaCodigo.touched)" class="alert alert-warning">
                        <div *ngIf="columnaCodigo.errors?.required">Este es un campo requerido.</div>
                    </div>
                </div>
                <div class="form-group col">
                    <label>Descripción
                        <input type="text" class="form-control" 
                            formControlName="descripcion" 
                            placeholder="Ingrese un nombre de columna único..." />
                    </label>
                    <div *ngIf="columnaDescripcion.invalid && (columnaDescripcion.dirty || columnaDescripcion.touched)" class="alert alert-warning">
                        <div *ngIf="columnaDescripcion.errors?.required">Este es un campo requerido.</div>
                    </div>
                </div>
                <div class="form-group col-3">
                    <label>Largo
                        <input type="number" min="1" class="form-control" 
                            formControlName="largo" 
                            placeholder="Ingrese un número..." />
                    </label>
                    <div *ngIf="columnaLargo.invalid && (columnaLargo.dirty || columnaLargo.touched)" class="alert alert-warning">
                        <div *ngIf="columnaLargo.errors?.required">Este es un campo requerido.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-3">
                    <label>Tipo de Dato
                        <ng-select [items]="tiposDato$ | async" [clearable]="false" [searchable]="false" 
                            bindLabel="nombre"
                            formControlName="tipoDato"
                            placeholder="Seleccione un tipo de dato..."> 
                        </ng-select>
                    </label>
                    <div *ngIf="columnaTipoDato.invalid && (columnaTipoDato.dirty || columnaTipoDato.touched)" class="alert alert-warning">
                        <div *ngIf="columnaTipoDato.errors?.required">Este es un campo requerido.</div>
                    </div>
                </div>
                <div class="form-group col">
                    <label>Sub-Estructura
                        <ng-select [items]="subEstructuras$ | async"
                            bindLabel="descripcion"
                            formControlName="subEstructura"
                            placeholder="Seleccione una subestructura...">
                            <ng-template ng-option-tmp let-item="item">
                                {{item.descripcion}} ({{item.codigo}})
                            </ng-template>
                        </ng-select>
                    </label>
                    <div *ngIf="columnaSubEstructura.invalid && (columnaSubEstructura.dirty || columnaSubEstructura.touched)" class="alert alert-warning">
                        <div *ngIf="columnaSubEstructura.errors?.required">Este es un campo requerido.</div>
                    </div>
                </div>
                <div class="form-group col-3 text-right pt-4">
                    <button class="btn btn-primary w-100" (click)="submitColumna()">Aceptar y Añadir Columna</button>
                </div>
            </div>
        </div>
    </div>

    <h4>Columnas de la Estructura</h4>
    <table mat-table #tablaColumnas [dataSource]="estructuraColumnas$">
        <!-- Definicion de Columnas -->
        <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
        </ng-container>
        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>
        <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.tipoDato?.nombre + ( element.tipoDato?.id === 3 ? ' ('+element.subEstructura?.nombre+')' : '' )}} </td>
        </ng-container>
        <ng-container matColumnDef="largo">
            <th mat-header-cell *matHeaderCellDef> Largo </th>
            <td mat-cell *matCellDef="let element"> {{element.largo}} </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let row; let i=index">
                <button class="btn btn-xs btn-outline-primary border-secondary"  matTooltip="Subir orden" 
                    [disabled]="i===0 || modoVer" 
                    (click)="onClickSubirColumna(i)">
                    <fa-icon [icon]="icons.faCaretUp" class="fas fa-caret-up"></fa-icon>
                </button>
                <button class="btn btn-xs btn-outline-primary border-secondary" matTooltip="Bajar orden" 
                    [disabled]="i+1===estructuraColumnas.length || modoVer" 
                    (click)="onClickBajarColumna(i)">
                    <fa-icon [icon]="icons.faCaretDown" class="fas fa-caret-down"></fa-icon>
                </button>
                <button class="btn btn-xs btn-outline-danger border-secondary" matTooltip="Quitar" 
                    [disabled]="modoVer" 
                    (click)="onClickQuitarColumna(i)">
                    <fa-icon [icon]="icons.faTimes" class="fas fa-times"></fa-icon>
                </button>
                <ng-container *ngIf="row.vigencia==='Y'; 
                    then botonVigente; 
                    else botonNoVigente">
                </ng-container>
                <ng-template #botonVigente>
                    <button class="btn btn-xs btn-outline-success border-secondary" matTooltip="Vigente (Cambiar)" 
                        [disabled]="modoVer"
                        (click)="onClickAlternarColumna(i)">
                        <fa-icon [icon]="icons.faCheck" class="fas fa-check"></fa-icon>
                    </button>
                </ng-template>
                <ng-template #botonNoVigente>
                    <button  class="btn btn-xs btn-outline-warning border-secondary" matTooltip="No Vigente (Cambiar)" 
                        [disabled]="modoVer" 
                        (click)="onClickAlternarColumna(i)">
                        <fa-icon [icon]="icons.faBan" class="fas fa-ban"></fa-icon>
                    </button>
                </ng-template>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.table-light]="row.vigencia==='Y'"  ></tr>
    </table>

    <div class="form-buttons d-flex justify-content-around mb-3">
        <ng-container *ngIf="modoVer; 
            then accionesVer;
            else accionesEditar">
        </ng-container>
        <ng-template #accionesVer>
            <button class="btn btn-primary" 
                (click)="onClickEditar()">
                Editar
            </button>
        </ng-template>
        <ng-template #accionesEditar>
            <button type="submit" class="btn btn-primary" 
                [disabled]="enviando$ | async"
                (click)="onClickSubmit()">
                Confirmar
            </button>
            <button class="btn btn-danger" 
                (click)="onClickCancelar()">
                Cancelar
            </button>
        </ng-template>
    </div>
</div>
