<div class="spinner-container" *ngIf="dataSource.carga$ | async">
    <mat-spinner></mat-spinner>
</div>
<div class="row" [hidden]="dataSource.carga$ | async">
    <div class="col">
        <div class="scroll-x">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
                    <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
                </ng-container>
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
                </ng-container>
                <ng-container matColumnDef="largo">
                    <th mat-header-cell *matHeaderCellDef> Largo </th>
                    <td mat-cell *matCellDef="let row"> {{row.largo}} </td>
                </ng-container>
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let row">
                            <a class="btn btn-xs btn-outline-dark border-secondary" matTooltip="Ver"
                            routerLink="/estructuras/ver/subest/{{row.id}}">
                            <fa-icon [icon]="icons.faEllipsisH" class="fas fa-ellipsis-h"></fa-icon>
                        </a>
                        <a class="btn btn-xs btn-outline-primary border-secondary" matTooltip="Editar"
                            routerLink="/estructuras/editar/subest/{{row.id}}"  [hidden]="ocultarPorPermisos" >
                            <fa-icon [icon]="icons.faEdit" class="fas fa-edit"></fa-icon>
                        </a>&nbsp;
                        <button class="btn btn-xs btn-outline-danger border-secondary" matTooltip="Activar"
                            *ngIf="row.vigencia==='N'" 
                            [hidden]="ocultarPorPermisos" 
                            (click)="onClickActivarSubEstructura(row)">
                            <fa-icon [icon]="icons.faBan" class="fas fa-ban"></fa-icon>
                        </button>
                        <button class="btn btn-xs btn-outline-success border-secondary" matTooltip="Desactivar"
                            *ngIf="row.vigencia==='Y'" 
                            [hidden]="ocultarPorPermisos" 
                            (click)="onClickDesactivarSubEstructura(row)">
                            <fa-icon [icon]="icons.faCheck" class="fas fa-check"></fa-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <div class="row justify-content-end">
            <div class="col">
                <mat-paginator class="ml-auto" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
    </div>
</div>