.archivos-container,
.mapeos-container {
    overflow: auto;
}

.archivos-container {
    max-height: 38rem;
}
#tablaArchivos {
    margin: 0;
}
#tablaArchivos .mat-column-nombre {
    flex: 1 0 32px;
}
#tablaArchivos .mat-column-acciones {
    flex: 0 0 32px;
}

.mapeos-container {
    max-height: 45rem;
}
#tablaMapeos {
    width: 60em;
}
#tablaMapeos .mat-column-nombre {
    flex: 0 1 15em;
}
#tablaMapeos .mat-column-origenEstandar {
    flex: 0 1 20em;
}
#tablaMapeos .mat-column-origenEstructurado {
    flex: 0 1 25em;
}
#tablaMapeos .mat-column-encriptar,
#tablaMapeos .mat-column-filtro,
#tablaMapeos .mat-column-obligatorio {
    flex: 0 0 10em;
}
#tablaMapeos .mat-column-grupo,
#tablaMapeos .mat-column-acciones {
    flex: 0 0 5em;
}