app-tabla-procesos-carga {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

table {
    width: 110em;
}

.mat-column-idProceso {
    flex: 0 0 10em;
}
.mat-column-nombre {
    flex: 0 1 20em;
}
.mat-column-plantillaEntradaSocio,
.mat-column-plantillaIntegracion,
.mat-column-plantillaSalidaSocio {
    flex: 0 1 20em;
    max-width: 20em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.mat-column-estado {
    flex: 0 0 10em;
}
.mat-column-acciones {
    flex: 0 0 6em;
}

.mat-column-acciones {
    flex: 0 0 7em;
}

