<div class="spinner-container" *ngIf="dataSource.carga$ | async">
  <mat-spinner></mat-spinner>
</div>
<div class="row" [hidden]="dataSource.carga$ | async">
    <div class="col">
        <div class="scroll-x">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="idProceso">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID Proceso </th>
                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                </ng-container>
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                </ng-container>
                <ng-container matColumnDef="plantillaEntradaSocio">
                    <th mat-header-cell *matHeaderCellDef> Plantila Entrada Socio </th>
                    <td mat-cell *matCellDef="let row"> {{row.plantillaEntradaSocio?.nombre}} </td>
                </ng-container>
                <ng-container matColumnDef="plantillaIntegracion">
                    <th mat-header-cell *matHeaderCellDef> Plantila Integración </th>
                    <td mat-cell *matCellDef="let row"> {{row.plantillaIntegracion?.nombre}} </td>
                </ng-container>
                <ng-container matColumnDef="plantillaSalidaSocio">
                    <th mat-header-cell *matHeaderCellDef> Plantilla Salida Socio </th>
                    <td mat-cell *matCellDef="let row"> {{row.plantillaSalidaSocio?.nombre}} </td>
                </ng-container>
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                    <td mat-cell *matCellDef="let row"> {{row.vigencia==='Y'?'Vigente':'No vigente'}} </td>
                </ng-container>
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let row">
                        <button class="btn btn-xs btn-outline-primary" matTooltip="Editar" 
                            [hidden]="ocultarPorPermisos"
                            (click)="editarProcesoCarga(row)">
                            <fa-icon [icon]="icons.faEdit" class="fas fa-edit"></fa-icon>
                        </button>
                        <button *ngIf="row.vigencia==='N'" class="btn btn-toggle-vigencia btn-xs btn-outline-danger" matTooltip="Activar"
                            [hidden]="ocultarPorPermisos"
                            (click)="activarProcesoCarga(row)">
                            <fa-icon [icon]="icons.faBan" class="fas fa-ban"></fa-icon>
                        </button>
                        <button *ngIf="row.vigencia==='Y'" class="btn btn-toggle-vigencia btn-xs btn-outline-success" matTooltip="Desactivar"
                            [hidden]="ocultarPorPermisos"
                            (click)="desactivarProcesoCarga(row)">
                            <fa-icon [icon]="icons.faCheck" class="fas fa-check"></fa-icon>
                        </button>
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <div class="row">
            <div class="col-4">
                <button class="btn btn-success border-secondary" 
                    (click)="onClickExportar()"
                    [disabled]="!canExport()">
                    Exportar Vista Actual a Excel
                </button>
            </div>
            <div class="col">
                <mat-paginator class="ml-auto" 
                    [pageSizeOptions]="[10, 25, 50, 100]" 
                    showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
