app-tabla-procesos-carga {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

table {
    flex-grow: 1;
}

.th-acciones,
.td-acciones {
    width: 7em;
}

