::ng-deep .mat-checkbox-checked.mat-checkbox-disabled .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-checkbox-disabled .mat-checkbox-background {
  background-color: #009260;
}

.spinner-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mat-table-container mat-paginator {
  flex-grow: 0;
}

.th-acciones {
  width: 7em;
  text-align: center;
}

.td-acciones {
  width: 7em;
  white-space: nowrap;
  text-align: right;
}

.td-acciones .btn-xs {
  width: 2em;
  padding: 0.25em;
  display: inline-flex;
  border-color: gray;
}

.td-acciones .btn-xs > fa-icon {
  margin: auto;
}

.td-acciones .btn-xs > fa-icon.fa-info,
.td-acciones .btn-xs > fa-icon.fa-edit {
  padding-top: 3px;
}

.td-acciones .btn-xs > fa-icon.fa-ban {
  padding-top: 4px;
}

mat-paginator {
  width: fit-content;
}

.mat-table-container {
  width: 100%;
  overflow: auto;
}

.tabla-trazabilidad td {
  min-width: 180px;
}
