<div class="spinner-container" *ngIf="dataSource.carga$ | async">
  <mat-spinner></mat-spinner>
</div>
<div class="mat-table-container mat-elevation-z8" [hidden]="dataSource.carga$ | async">
  <table mat-table class="tabla-trazabilidad" [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID Transacci&oacute;n</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>
    <ng-container matColumnDef="idProceso">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID Proceso</th>
      <td mat-cell *matCellDef="let row">{{ row.idProceso }}</td>
    </ng-container>
    <ng-container matColumnDef="nombreSocio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Socio</th>
      <td mat-cell *matCellDef="let row">{{ row.nombreSocio }}</td>
    </ng-container>
    <ng-container matColumnDef="nombreEvento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Evento</th>
      <td mat-cell *matCellDef="let row">{{ row.nombreEvento }}</td>
    </ng-container>
    <ng-container matColumnDef="nombreArchivo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Archivo</th>
      <td mat-cell *matCellDef="let row">{{ row.nombreArchivo }}</td>
    </ng-container>
    <ng-container matColumnDef="estadoTransaccion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
      <td mat-cell *matCellDef="let row">{{ row.estadoTransaccion }}</td>
    </ng-container>
    <ng-container matColumnDef="fechaInicio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Recepci&oacute;n</th>
      <td mat-cell *matCellDef="let row">{{ row.fechaInicio | date: 'dd/MM/yyyy' }}</td>
    </ng-container>
    <ng-container matColumnDef="fechaFin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Fin Transacci&oacute;n</th>
      <td mat-cell *matCellDef="let row">{{ row.fechaFin | date: 'dd/MM/yyyy' }}</td>
    </ng-container>
    <ng-container matColumnDef="lineasOriginal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>N&deg; Registros Originales</th>
      <td mat-cell *matCellDef="let row">{{ row.lineasOriginal }}</td>
    </ng-container>
    <ng-container matColumnDef="lineasIcsOk">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>N&deg; Registros Cargados en ICS</th>
      <td mat-cell *matCellDef="let row">{{ row.lineasIcsOk }}</td>
    </ng-container>
    <ng-container matColumnDef="lineasCoreOk">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>N&deg; Registros Cargados en Core</th>
      <td mat-cell *matCellDef="let row">{{ row.lineasCoreOk }}</td>
    </ng-container>
    <ng-container matColumnDef="lineasIcsError">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>N&deg; Registros Rechazados en ICS</th>
      <td mat-cell *matCellDef="let row">{{ row.lineasIcsError }}</td>
    </ng-container>
    <ng-container matColumnDef="lineasCoreError">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>N&deg; Registros Rechazados en Core</th>
      <td mat-cell *matCellDef="let row">{{ row.lineasCoreError }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selectRow(row)" [style.cursor]="row.tipoTransaccion != 'ANU' ? 'pointer' : ''" [style.background]="selectedRow == row ? '#51bc98' : row.tipoTransaccion == 'ANU' ? '#f76d6d' : ''"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
</div>

<div style="margin-top: 15px" *ngIf="selectedRow != null">
  <div [hidden]="!procesosLoading" class="spinner-container"><mat-spinner></mat-spinner></div>
  <div [hidden]="procesosLoading">
      <mat-card>
          <mat-card-header>
            <mat-card-title>Detalle Transacci&oacute;n {{ selectedRow.id }}</mat-card-title>
            <mat-card-subtitle>
              <span *ngIf="procesoFinalizado" style="color: #009260">Proceso Finalizado</span>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <table>
              <tr *ngFor="let proceso of procesos">
                <td width="30px">
                  <mat-checkbox
                    [checked]="proceso.fechaFin != null"
                    [disabled]="true">
                  </mat-checkbox>    
                </td>
                <td>{{ proceso.nombre }}</td>
                <td width="15px"></td>
                <td>{{ proceso.fechaInicio | date: 'dd/MM/yyyy HH:mm:dd' }}<span *ngIf="proceso.fechaFin != null">&nbsp;a&nbsp;</span>{{ proceso.fechaFin | date: 'dd/MM/yyyy HH:mm:dd' }}</td>
              </tr>
            </table>
          </mat-card-content>
          <mat-progress-bar *ngIf="loadingProcess"
            [color]="barspinner.color"
            [mode]="barspinner.mode"
            [bufferValue]="barspinner.bufferValue">
          </mat-progress-bar>
          <div class="row">
              <div class="form-group col-12">
                <button class="btn btn-success" style="margin-right: 8px" 
                    [disabled]="loadingProcess" 
                    (click)="downloadOriginal(selectedRow.id)">
                    Descargar Archivo Original
                </button>
                <button class="btn btn-success" style="margin-right: 8px" 
                    [disabled]="loadingProcess || !selectedRow.flgSalida" 
                    (click)="downloadResponse(selectedRow.id)">
                    Descargar Respuesta Socio
                </button>
                <button class="btn btn-success" style="margin-right: 8px" 
                    [disabled]="!finalizarProcesoEnabled || loadingProcess" 
                    (click)="finalizarProceso(selectedRow.id)">
                    Terminar Proceso
                </button>
                <button class="btn btn-success" [disabled]="estadoLogDeshabilitado(selectedRow.estadoTransaccion)"
                    (click)="downloadLog(selectedRow.id)">
                    Descargar Log de Transacción
                </button>
              </div>
            </div>
        </mat-card>
  </div>
</div>