<div class="row">
    <div class="col">
        <div class="card">
            <form class="card-body" [formGroup]="transformacionesForm" novalidate>
                <h5 class="card-title">Transformaciones de Columna</h5>
                <div class="row">
                    <div class="form-group col-9">
                        <div class="row">
                            <div class="col">
                                <span>Columna: {{columnaEnTransformacion.descripcion}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-7">
                                <div class="form-group-inner-container">
                                    <div class="d-flex justify-items-center align-content-end">
                                        <mat-checkbox class="mt-3" formControlName="darFormato">
                                            Dar Formato
                                        </mat-checkbox>
                                    </div>
                                    <div class="form-group">
                                        <ng-select [items]="formatoFechasItems" [clearable]="false" groupBy="tipo"
                                            bindLabel="nombre" bindValue="id" formControlName="tipoFormato">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-5">
                                <div class="form-group-inner-container">
                                    <div class="d-flex justify-items-center align-content-end">
                                        <mat-checkbox class="mt-3" formControlName="aplicarFormula">
                                            Aplicar Fórmula
                                        </mat-checkbox>
                                    </div>
                                    <button class="btn btn-primary w-100"
                                        [disabled]="!trfAplicarFormula.value || trfAplicarFormula.disabled"
                                        (click)="onClickEditarFormula()">
                                        Editar Fórmula
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col">
                                <div class="form-group-inner-container">
                                    <div class="d-flex justify-items-center align-content-end">
                                        <mat-checkbox class="mt-3" formControlName="realizarHomologacion">
                                            Homologar
                                        </mat-checkbox>
                                    </div>
                                    <div class="form-group">
                                        <ng-select [items]="homologacionesItems" [clearable]="false"
                                            bindLabel="concepto" bindValue="id" formControlName="tipoHomologacion">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-3">
                        <span>Orden de Operaciones</span>
                        <table mat-table #tablaOrdenTransformaciones class="px-0 m-0" [dataSource]="transformaciones$">
                            <ng-container matColumnDef="orden">
                                <th mat-header-cell *matHeaderCellDef> </th>
                                <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
                            </ng-container>
                            <ng-container matColumnDef="operacion">
                                <th mat-header-cell *matHeaderCellDef> </th>
                                <td mat-cell *matCellDef="let row"> {{row}} </td>
                            </ng-container>
                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef class="th-acciones"></th>
                                <td mat-cell *matCellDef="let row; let i=index" class="td-acciones">
                                    <button class="btn btn-xs btn-outline-primary border-secondary"
                                        [disabled]="i===0 || (i<2 && columnaEnTransformacion.formula)"
                                        (click)="onClickSubirOrdenTransformacion(i)" matTooltip="Subir orden">
                                        <fa-icon [icon]="icons.faCaretUp" class="fas fa-caret-up"></fa-icon>
                                    </button>
                                    <button class="btn btn-xs btn-outline-primary border-secondary"
                                        [disabled]="i+1===transformaciones.length || row===TRANSFORMACION_FORMULA"
                                        (click)="onClickBajarOrdenTransformacion(i)" matTooltip="Bajar orden">
                                        <fa-icon [icon]="icons.faCaretDown" class="fas fa-caret-down"></fa-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="transformacionesDisplayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: transformacionesDisplayedColumns;"></tr>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>