<form (ngSubmit)="submitConfirmar()" id="archivosCargarForm" [formGroup]="archivosCargarForm" class="col" enctype="multipart/form-data">
    <div class="row">
        <div class="col">
            <h2>Cargar Archivo</h2>
        </div>
    </div>
    <div class="row">

        <div class="form-group col-3">
            <label>Socio (Filtro)
                <ng-select [items]="socios$ | async" [clearable]="true" formControlName="socio" bindValue="id" bindLabel="nombre"
                    placeholder="Todos">
                </ng-select>
            </label>
        </div>

        <div class="form-group col-5">
            <label>Nombre de Carga (Requerido)
                <ng-select [items]="nombresProceso" [clearable]="false" formControlName="nombreProceso" bindValue="id"
                    bindLabel="nombre" placeholder="Seleccione">
                </ng-select>
            </label>
        </div>


        <div class="form-group col pt-3">
            <mat-form-field style="width: 100% !important">
                <mat-label>Fecha de Recepción (Requerido)</mat-label>
                <input matInput [matDatepicker]="fechaRecepcion" formControlName="fechaRecepcion" />
                <mat-datepicker-toggle matSuffix [for]="fechaRecepcion"></mat-datepicker-toggle>
                <mat-datepicker #fechaRecepcion disabled="false"></mat-datepicker>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-9">
            <mat-form-field style="width: 100% !important">
                <textarea formControlName="observaciones" matInput cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5" placeholder="Observaciones (Opcional)"></textarea>
            </mat-form-field>
        </div>
        <div class="form-group col">
            <mat-form-field style="width: 100% !important">
                <input matInput placeholder="Id Externo (Opcional)" formControlName="codigoWebSocios" />
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="form-group col">
            <label>Seleccionar archivo a importar (Requerido)
                <input value="{{fileToUpload}}" accept=".csv,.xls,.xlsx,.txt" (change)="onFileChange($event.target.files)" class="form-control" type="file"/>
            </label>
        </div>
    </div>

    <div *ngIf="(fileloading | async)">
        <div class="row d-flex justify-content-center">
            <div class="spinner-container">
                <mat-spinner></mat-spinner>
            </div>
        </div>
    </div>

    <div *ngIf="(notloading | async)">
        <div class="row d-flex justify-content-center">
            <button type="submit" class="btn btn-success" 
                [disabled]="archivosCargarForm.invalid || fileToUpload == null">
                Confirmar
            </button>
        </div>
    </div>

    <br>

    <div *ngIf="(errorSubida | async)" class="alert alert-danger">

        <span>{{errorSubidaDesc}}</span>
    </div>


</form>
