<div class="col" [formGroup]="creacionPlantillaSalidaForm">
    <h4>Propiedades de Salida</h4>
    <div class="row mb-2">
        <div class="col-lg-3 col-md-6 form-group">
            <label>Formato de Salida
                <ng-select [items]="tiposExtension$ | async" [clearable]="false" [searchable]="false"
                    formControlName="tipoExtension" 
                    bindLabel="nombre">
                </ng-select>
            </label>
            <div *ngIf="tipoExtension.invalid && (tipoExtension.dirty || tipoExtension.touched)" class="alert alert-warning">
              <span *ngIf="tipoExtension.errors.required">Este es un campo requerido.</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 form-group">
            <label>Delimitador de columnas
                <input type="text" class="form-control" formControlName="delimitadorColumnas" />
            </label>
            <div *ngIf="delimitadorColumnas.invalid && (delimitadorColumnas.dirty || delimitadorColumnas.touched)" class="alert alert-warning">
              <span *ngIf="delimitadorColumnas.errors.required">Este es un campo requerido.</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 form-group">
            <label>Directorio de Salida 
                <ng-select [items]="directoriosSalida$ | async" [clearable]="false" [searchable]="false"
                    formControlName="directorioSalida" 
                    bindValue="id"
                    bindLabel="nombre"
                    (change)="changeDirectorioSalida()">
                </ng-select>
            </label>
            <div *ngIf="directorioSalida.invalid && (directorioSalida.dirty || directorioSalida.touched)" class="alert alert-warning">
              <span *ngIf="directorioSalida.errors.required">Este es un campo requerido.</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 form-group">
            <label>Core 
                <ng-select [items]="coresSalida$ | async" [clearable]="false" [searchable]="false"
                    formControlName="core" 
                    bindLabel="nombre">
                </ng-select>
            </label>
            <div *ngIf="core.invalid && (core.dirty || core.touched)" class="alert alert-warning">
              <span *ngIf="core.errors.required">Este es un campo requerido.</span>
            </div>
        </div>
    </div>
    <div *ngIf="tipoExtension.value">
        <app-salida-estructurada-edicion #formularioEstructurado 
                *ngIf="esSalidaEstructurada; else salidaEstandar"
                class="row" 
                [Core]="core.value"
                [Evento]="evento"
                [Socio]="socio">
        </app-salida-estructurada-edicion>
        <ng-template #salidaEstandar>
            <app-salida-estandar-edicion #formularioEstandar 
                class="row" 
                [accionUser]="_accionUser"
                [Evento]="evento"
                [DelimitadorColumnas]="delimitadorColumnas.value"
                [TipoExtension]="tipoExtension.value"
                (change)="forceChangeForm()"
                (mapeoColumna)="onMapeoColumna($event)">
            </app-salida-estandar-edicion>
        </ng-template>
    </div>
</div>
