<div class="col" [formGroup]="columnaPlantillaIntegracionForm">
    <h5>Propiedades de la Columna</h5>
    <div class="row align-items-center">
        <div class="col form-group">
            <label>Nombre de Columna
                <input type="text" class="form-control" formControlName="nombreColumna">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <mat-checkbox formControlName="darColumnaOrigen">
                Dar Columna de Negocio
            </mat-checkbox>
            <div class="form-group">
                <label>Columna de Negocio
                    <ng-select [items]="columnasOrigen$ | async"
                        bindLabel="nombreColumna"
                        formControlName="columnaOrigen">
                    </ng-select>
                </label>
            </div>
        </div>
        <div class="col-6">
            <mat-checkbox formControlName="darAtributoEnriquecimiento">
                Dar Atributo de Enriquecimiento
            </mat-checkbox>
            <div class="form-group">
                <label>Atributo de Enriquecimiento
                    <ng-select [items]="atributosEnriquecimiento$ | async" [clearable]="false" 
                        formControlName="atributoEnriquecimiento"
                        bindLabel="nombreColumna"></ng-select>
                </label>
            </div>
        </div>
    </div>
    <div class="row my-2 justify-content-between align-items-center">
        <div class="col">
            <mat-checkbox class="mt-3" 
                formControlName="aplicarFormula">
                Aplicar Fórmula
            </mat-checkbox>
        </div>
        <div class="col">
            <button class="btn btn-primary w-100" 
                [disabled]="!aplicarFormula.value || aplicarFormula.disabled"
                (click)="onClickEditarFormula()">
                Editar Fórmula
            </button>
        </div>
    </div>
    <div class="row border-top border-lighter">
        <div class="col">
            <h5 class="my-3">Transformación de Datos de la Columna</h5>
            <div class="row">
                <div class="col-4 border-right border-lighter">
                    <span>Orden de Operaciones</span>
                    <table mat-table #tablaOrdenOperaciones class="px-0 mx-0" [dataSource]="transformaciones$">
                        <ng-container matColumnDef="orden">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
                        </ng-container>
                        <ng-container matColumnDef="operacion">
                            <th mat-header-cell *matHeaderCellDef> Operación </th>
                            <td mat-cell *matCellDef="let row"> {{row}} </td>
                        </ng-container>
                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef class="th-acciones"> Orden </th>
                            <td mat-cell *matCellDef="let i=index" class="td-acciones">
                                <button class="btn-subir-columna btn btn-xs btn-outline-primary border-secondary" [disabled]="i===0" 
                                    (click)="onClickSubirOrdenTransformacion(i)" matTooltip="Subir orden">
                                    <fa-icon [icon]="icons.faCaretUp" class="fas fa-caret-up"></fa-icon>
                                </button>
                                <button class="btn-bajar-columna btn btn-xs btn-outline-primary border-secondary" [disabled]="i+1===transformaciones.length" 
                                    (click)="onClickBajarOrdenTransformacion(i)" matTooltip="Bajar orden">
                                    <fa-icon [icon]="icons.faCaretDown" class="fas fa-caret-down"></fa-icon>
                                </button>
                            </td>
                        </ng-container>
        
                        <tr mat-header-row *matHeaderRowDef="operacionesDisplayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: operacionesDisplayedColumns;"></tr>
                    </table>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <mat-checkbox class="mt-3" formControlName="darFormato">
                                Dar Formato
                            </mat-checkbox>
                            <div class="form-group">
                                <ng-select [items]="formatoFechasItems$ | async" [clearable]="false"
                                    groupBy="tipo"
                                    bindLabel="nombre"
                                    bindValue="id"
                                    formControlName="formatoFecha">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-checkbox class="mt-3" formControlName="realizarHomologacion">
                                Homologar
                            </mat-checkbox>
                            <div class="form-group">
                                <ng-select [items]="homologacionesItems$ | async" [clearable]="false"
                                    bindLabel="concepto"
                                    bindValue="id"
                                    formControlName="tipoHomologacion">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>