<h3>Trazabilidad de Archivos</h3>
<mat-card class="filtros-trazabilidad">
  <mat-card-content>
    <form [formGroup]="filtrosForm" novalidate>
      <div class="row">
        <div class="form-group col-4">
          <label>Socio
            <ng-select [items]="socios$ | async" [clearable]="true" formControlName="socio" bindValue="id" bindLabel="nombre"
              placeholder="Todos">
            </ng-select>
          </label>
        </div>
        <div class="form-group col-4 pt-3">
          <mat-form-field style="width: 100% !important">
            <input matInput placeholder="ID Carga" formControlName="idCarga" />
          </mat-form-field>
        </div>
        <div class="form-group col-4 pt-3">
          <mat-form-field style="width: 100% !important">
            <input matInput placeholder="ID Externo" formControlName="idExterno" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-4">
          <label>Evento
            <ng-select [items]="eventos$ | async" [clearable]="true" formControlName="evento" bindValue="id" bindLabel="nombre"
              placeholder="Todos">
            </ng-select>
          </label>
        </div>
        <div class="form-group col-4 pt-3">
          <mat-form-field style="width: 100% !important">
            <input matInput [matDatepicker]="dpRecepionadoDesde" placeholder="Recepcionado Desde" formControlName="dpRecepionadoDesde" />
            <mat-datepicker-toggle matSuffix [for]="dpRecepionadoDesde" ></mat-datepicker-toggle>
            <mat-datepicker #dpRecepionadoDesde disabled="false" ></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="form-group col-4 pt-3">
          <mat-form-field style="width: 100% !important">
            <input matInput [matDatepicker]="dpRecepionadoHasta" placeholder="Recepcionado Hasta" formControlName="dpRecepionadoHasta" />
            <mat-datepicker-toggle matSuffix [for]="dpRecepionadoHasta" ></mat-datepicker-toggle>
            <mat-datepicker #dpRecepionadoHasta disabled="false" ></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-4">
            <label>Estado
                <ng-select [items]="estados$ | async" [clearable]="true" formControlName="estado" bindValue="conceptoParametro" bindLabel="conceptoParametro"
                    placeholder="Todos">
                </ng-select>
            </label>
        </div>

        <div class="form-group col-4 pt-3">
          <mat-form-field style="width: 100% !important">
            <input matInput [matDatepicker]="dpCargadoDesde" placeholder="Cargado Desde" formControlName="dpCargadoDesde" />
            <mat-datepicker-toggle matSuffix [for]="dpCargadoDesde" ></mat-datepicker-toggle>
            <mat-datepicker #dpCargadoDesde disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="form-group col-4 pt-3">
          <mat-form-field style="width: 100% !important">
            <input matInput [matDatepicker]="dpCargadoHasta" placeholder="Cargado Hasta" formControlName="dpCargadoHasta" />
            <mat-datepicker-toggle matSuffix [for]="dpCargadoHasta" ></mat-datepicker-toggle>
            <mat-datepicker #dpCargadoHasta disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
          <div class="form-group col-12">
            <button class="btn btn-success" (click)="submit()">Buscar</button>
            <button class="btn btn-success" (click)="onClickExportar()" [disabled]="exportLoading">Exportar a Excel</button>
            <button class="btn btn-success" (click)="consolidar()">Consultar Consolidación</button>
          </div>
        </div>
    </form>
  </mat-card-content>

</mat-card>
