.card {
    border-radius: 0px;
    border-left: none;
    border-right: none;
}
.card-body {
    padding: 0.75em 1em;
}
.card-title {
    font-weight: bold;
}

.form-group {
    margin-bottom: 0.25em;
}

label {
    width: 100%;
}

button {
    margin: 16px 8px;
  }