<div class="col" [formGroup]="archivoImportarForm">
    <div class="row">
        <div class="col">
          <h3>Importar Archivo</h3>
        </div>      
    </div>
  <mat-card class="filtros-importar-archivo">
    <mat-card-content >
      <div class="row">
            <div class="form-group col-3">
                <label>Socio
                    <ng-select [items]="socios$ | async" [clearable]="true" formControlName="socio" bindValue="id" bindLabel="nombre"
                        placeholder="Seleccione">
                    </ng-select>
                </label>
            </div>
            <div class="form-group col-3">
                <label>Evento
                    <ng-select [items]="eventos$ | async" [clearable]="true" formControlName="evento" bindValue="id" bindLabel="nombre"
                        placeholder="Todos">
                    </ng-select>
                </label>
            </div>
            <div class="form-group col-6">
                <label>Nombre Proceso
                    <ng-select [items]="procesos$" [clearable]="true" formControlName="proceso" bindValue="id" bindLabel="nombre"
                        placeholder="Todos">
                    </ng-select>
                </label>
            </div>
      </div>
      <div class="row">
            <div class="form-group col-6 pt-3">
                <mat-form-field style="width: 100% !important">
                    <mat-label>Fecha Desde</mat-label>
                    <input matInput [matDatepicker]="dpDesde" formControlName="dpDesde" />
                    <mat-datepicker-toggle matSuffix [for]="dpDesde" ></mat-datepicker-toggle>
                    <mat-datepicker #dpDesde disabled="false" ></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="form-group col-6">
                <label>Identificador Transacci&oacute;n
                    <ng-select [items]="transacciones$" [clearable]="true" formControlName="transaccion" bindValue="idTransaccion"
                        bindLabel="idTransaccion" placeholder="Todas">
                    </ng-select>
                </label>
            </div>
      </div>
    </mat-card-content>
  </mat-card>

    <div class="row" style="margin-top: 20px">
        <div class="form-group col">
            <label>Archivos Procesados
                <ng-select [items]="transacciones$" [clearable]="true" formControlName="archivo" bindValue="idTransaccion"
                    bindLabel="nombreArchivo" placeholder="Seleccione">
                </ng-select>
            </label>
            <mat-progress-bar *ngIf="loadingDownload" [color]="barspinner.color" [mode]="barspinner.mode" [bufferValue]="barspinner.bufferValue">
            </mat-progress-bar>
        </div>
    </div>

  <div class="row">
    <div class="form-group col">
      <button type="submit" class="btn btn-success float-right" [disabled]="archivoImportarForm.get('archivo').value == null || loadingDownload" (click)="descargarArchivo()">Descargar Archivo</button>
    </div>
  </div>

  <div class="row" style="margin-top: 30px">
    <div class="form-group col-9">
      <label for="file">Seleccionar Archivo a Cargar
          <input value="{{fileToUpload}}" accept=".xls,.xlsx" class="form-control" type="file" id="file" (change)="handleFileInput($event.target.files)">
      </label>
    </div>
    <div class="form-group col-3">
        <label><br/>
            <button class="btn btn-success float-right" [disabled]="archivoImportarForm.get('archivo').value == null || fileToUpload == null || loadingUpload" (click)="cargarArchivo()">Confirmar y Cargar</button>
        </label>
      </div>
  </div>
  <p>Las últimas 4 columnas deben ser ID_TRANSACCION, ID_REGISTRO, ESTADO_REGISTRO y OBSERVACION_REGISTRO en ese orden.</p>
  <div class="form-group col-12">
    <mat-progress-bar *ngIf="loadingUpload"
        [color]="barspinner.color"
        [mode]="barspinner.mode"
        [bufferValue]="barspinner.bufferValue">
    </mat-progress-bar>
  </div>
    <div [hidden]="!idTransaccionSelected">
        <h4>Historial de Importaciones</h4>
        <div class="spinner-container" *ngIf="dataSource.carga$ | async">
            <mat-spinner></mat-spinner>
        </div>
        <div class="mat-table-container mat-elevation-z8" [hidden]="dataSource.carga$ | async">
            <table mat-table class="tabla-historial" [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="nombreArchivo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Archivo</th>
                    <td mat-cell *matCellDef="let row">{{ row.nombreArchivo }}</td>
                </ng-container>
                <ng-container matColumnDef="procesoCarga">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Proceso de Carga</th>
                    <td mat-cell *matCellDef="let row">{{ row.procesoCarga }}</td>
                </ng-container>
                <ng-container matColumnDef="fechaCarga">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Carga</th>
                    <td mat-cell *matCellDef="let row">{{ row.id.fechaCarga | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                </ng-container>
                <ng-container matColumnDef="fechaProcesado">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Procesamiento</th>
                    <td mat-cell *matCellDef="let row">{{ row.fechaProceso | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                </ng-container>
                <ng-container matColumnDef="registrosActualizados">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Registros Actualizados</th>
                    <td mat-cell *matCellDef="let row">{{ row.cantidadRegistros }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
        </div>
        <br>
        <button class="btn btn-success float-right" (click)="onClickExportar()" [disabled]="exportLoading">Exportar a Excel</button>
    </div>
</div>