/* .custom-table-cell {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} */

#tablaArchivos .mat-column-nombre {
    flex: 1 0 32px;
}
#tablaArchivos .mat-column-acciones {
    flex: 0 0 32px;
}

#tablaMapeos .mat-column-nombre {
    flex: 1 0 192px;
}
#tablaMapeos .mat-column-origenEstandar {
    flex: 0 1 192px;
}
#tablaMapeos .mat-column-origenEstructurado {
    flex: 0 1 192px;
}
#tablaMapeos .mat-column-encriptar,
#tablaMapeos .mat-column-filtro,
#tablaMapeos .mat-column-obligatorio {
    flex: 0 0 96px;
}
#tablaMapeos .mat-column-grupo,
#tablaMapeos .mat-column-acciones {
    flex: 0 0 32px;
}