<div class="col" >
    <div class="row" style="min-height: 20em">
        <div class="col-4">
            <div class="row" [formGroup]="creacionPlantillaEntradaForm">
                <div class="col">
                    <div class="form-inline">
                        <label>Formato de Entrada
                            <ng-select [items]="tiposExtension$ | async" [clearable]="false" bindLabel="nombre"
                                formControlName="tipoExtension" class="ml-4" style="width: 10em">
                            </ng-select>
                        </label>
                    </div>
                    <div *ngIf="tipoExtension.invalid && (tipoExtension.dirty || tipoExtension.touched)" class="alert alert-warning">
                        <span *ngIf="tipoExtension.errors.required">Este es un campo requerido.</span>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <h4>Archivos</h4>
                </div>
                <div class="col text-right">
                    <button class="btn btn-light border-secondary"
                        (click)="onClickAgregarArchivoVacio()">
                        Agregar
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table mat-table #tablaArchivos id="tablaArchivos" [dataSource]="archivos$">
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef> Nombre </th>
                            <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                        </ng-container>
                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef class="th-acciones"> Acciones </th>
                            <td mat-cell *matCellDef="let row; let i=index" class="td-acciones">
                                <button class="btn btn-xs btn-outline-primary border-secondary"
                                    matTooltip="Editar"
                                    (click)="onClickEditarArchivo(i)" >
                                    <fa-icon [icon]="icons.faEllipsisH" class="fas fa-ellipsis-h"></fa-icon>
                                </button>&nbsp;
                                <button class="btn btn-xs btn-outline-danger border-secondary"
                                    matTooltip="Quitar"
                                    [disabled]="row.mapeado"
                                    (click)="onClickQuitarArchivo(i)" >
                                    <fa-icon [icon]="icons.faTimes" class="fas fa-times"></fa-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="archivosDisplayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: archivosDisplayedColumns;" 
                            [class.active]="archivoSeleccionado===row">
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" *ngIf="archivoSeleccionado">
                <ng-container *ngIf="tipoExtension.value.nombre === 'Estructurado' then formularioArchivoEstructurado; else formularioArchivoEstandar"></ng-container>
                <ng-template #formularioArchivoEstructurado>
                    <app-archivo-entrada-estructurada #formularioEstructurado 
                        class="row card-body" 
                        [Archivo]="archivoSeleccionado"
                        [Evento]="_evento"
                        (onChangeValidez)="onChangeValidezArchivoSeleccionado($event)">
                    </app-archivo-entrada-estructurada>
                </ng-template>
                <ng-template #formularioArchivoEstandar>
                    <app-archivo-entrada-estandar #formularioEstandar 
                        class="row card-body" 
                        [Archivo]="archivoSeleccionado"
                        [TipoExtension]="tipoExtension.value"
                        (onChangeValidez)="onChangeValidezArchivoSeleccionado($event)">
                    </app-archivo-entrada-estandar>
                </ng-template>
            </div>
            <div class="card my-2" [hidden]="!archivoSeleccionado">
                <div class="card-body" [formGroup]="mapearColumnasForm">
                    <h6>Mapear a Columna de Destino</h6>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-8">
                                    <mat-checkbox formControlName="filtrarRegistros">
                                        Filtrar registros por el valor de esta columna
                                    </mat-checkbox>
                                </div>
                                <div class="col-4">
                                    <mat-checkbox formControlName="filtroExclusion">
                                        Excluyendo
                                    </mat-checkbox>
                                </div>
                            </div>
                            <div class="form-group">
                                <input class="form-control" 
                                    type="text" 
                                    formControlName="valorFiltrado" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label>Columnas de Destino Disponibles
                                <ng-select [items]="columnasDestinoDisponibles$ | async" [clearable]="false"
                                    bindLabel="nombreColumna"
                                    formControlName="columnaDestinoSeleccionada"
                                    placeholder="Seleccione un campo de destino...">
                                </ng-select>
                            </label>
                        </div>
                        <div class="col-2 pt-4 text-right">
                            <button class="btn btn-primary w-100" 
                                (click)="onClickMapearColumna()">
                                Mapear
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="archivos.length && mapeos" [hidden]="!hayMapeos">
        <div class="col">
            <h4>Columnas de Destino</h4>
            <table mat-table #tablaMapeos id="tablaMapeos" [dataSource]="mapeos$">
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let row"> 
                        {{ row.columnaDestino.nombreColumna? 
                            row.columnaDestino.nombreColumna : 
                            row.columnaDestino.nombreColumnaNegocio
                        }} 
                    </td>
                </ng-container>
                <ng-container matColumnDef="origenEstandar">
                    <th mat-header-cell *matHeaderCellDef> Origen </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.archivoOrigenDatos.nombre }} /
                        {{ row.columnaOrigenDatos.descripcion }} 
                    </td>
                </ng-container>
                <ng-container matColumnDef="origenEstructurado">
                    <th mat-header-cell *matHeaderCellDef> Origen </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.archivoOrigenDatos.nombre }} / 
                        {{ row.estructuraOrigen.codigo }} /
                        {{ row.columnaOrigenDatos.descripcion }}
                        {{ row.subEstructuraColumnaOrigen? (' / ' + row.subEstructuraColumnaOrigen.descripcion) : '' }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="encriptar">
                    <th mat-header-cell *matHeaderCellDef> Encriptar </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox class="m-3"
                            [(ngModel)]="row.encriptar"
                            [ngModelOptions]="{standalone:true}">
                        </mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="filtro">
                    <th mat-header-cell *matHeaderCellDef> Filtrado </th>
                    <td mat-cell *matCellDef="let row">
                        <ng-container *ngIf="!!row.valorParaFiltrar; then filtrado; else noFiltrado"></ng-container>
                        <ng-template #filtrado>
                            <mat-checkbox disabled 
                                [matTooltip]="row.valorParaFiltrar"
                                [checked]="true" 
                                class="m-3">
                                <span *ngIf="row.filtroExclusion">(Excl.)</span>
                            </mat-checkbox>
                        </ng-template>
                        <ng-template #noFiltrado>
                            <mat-checkbox disabled 
                                class="m-3">
                            </mat-checkbox>
                        </ng-template>
                    </td>
                </ng-container>
                <ng-container matColumnDef="obligatorio">
                    <th mat-header-cell *matHeaderCellDef> Obligatorio </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox class="m-3" 
                            [(ngModel)]="row.esObligatorio"
                            [ngModelOptions]="{standalone:true}">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="grupo">
                    <th mat-header-cell *matHeaderCellDef> Grupo </th>
                    <td mat-cell *matCellDef="let row">
                        <ng-select [disabled]="!row.tieneCardinalidad"
                            [items]="gruposMapeo" [clearable]="false"
                            [(ngModel)]="row.grupoColumnaDestino" 
                            [ngModelOptions]="{standalone: true}">
                        </ng-select>
                    </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef class="th-acciones"> Acciones </th>
                    <td mat-cell *matCellDef="let row; let i=index" class="td-acciones">
                        <button class="btn btn-xs btn-outline-danger border-secondary" 
                            matTooltip="Quitar" 
                            (click)="onClickQuitarColumnaDestinoMapeada(i)">
                            <fa-icon [icon]="icons.faTimes" class="fas fa-times"></fa-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnasDestinoMapeadasDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: columnasDestinoMapeadasDisplayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>
