<h1>Mantenedor de Plantillas</h1>
<app-filtros-plantillas [hidden]="selectedAction!=='filtrar'"></app-filtros-plantillas>
<div class="row my-2">
    <div class="col text-left">
        <button class="btn btn-success border-secondary" 
            [class.active]="selectedAction==='filtrar'" 
            (click)="onClickAccion('filtrar')">
            Filtrar Resultados
        </button>
    </div>
    <div class="col text-right">
        <a class="btn btn-success border-secondary" [hidden]="ocultarPorPermisos"
            routerLink="/plantillas/nueva">
            Crear Nueva Plantilla
        </a>
    </div>
</div>
<app-tabla-plantillas></app-tabla-plantillas>