table {
    width: 90em;
}

.mat-column-nombre {
    flex: 0 1 30em;
}
.mat-column-version {
    flex: 0 0 6em;
}
.mat-column-fechaCreacion {
    flex: 0 0 10em;
}
.mat-column-socio {
    flex: 0 1 20em;
}
.mat-column-estado {
    flex: 0 0 10em;
}
.mat-column-codUsuario {
    flex: 0 0 8em;
}
.mat-column-acciones {
    flex: 0 0 8em;
}

.mat-column-acciones .btn-xs {
    width: 1.75em;
    height: 1.75em;
}