<div class="spinner-container" *ngIf="dataSource.carga$ | async">
    <mat-spinner></mat-spinner>
</div>
<div class="row" [hidden]="dataSource.carga$ | async">
    <div class="col">
        <div class="scroll-x">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                    <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
                </ng-container>
                <ng-container matColumnDef="version">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Versión</th>
                    <td mat-cell *matCellDef="let row">{{ row.version }}</td>
                </ng-container>
                <ng-container matColumnDef="fechaCreacion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Creación</th>
                    <td mat-cell *matCellDef="let row">{{ row.fechaCreacion }}</td>
                </ng-container>
                <ng-container matColumnDef="socio">
                    <th mat-header-cell *matHeaderCellDef>Socio</th>
                    <td mat-cell *matCellDef="let row">{{ row.socio.nombre }}</td>
                </ng-container>
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef>Estado de Vigencia</th>
                    <td mat-cell *matCellDef="let row">{{ row.vigencia==='Y'?'Vigente':'No vigente' }}</td>
                </ng-container>
                <ng-container matColumnDef="codUsuario">
                    <th mat-header-cell *matHeaderCellDef>Usuario</th>
                    <td mat-cell *matCellDef="let row">{{ row.codUsuario }}</td>
                </ng-container>
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let row">
                        <a class="btn btn-xs btn-outline-dark border-secondary" matTooltip="Ver"
                            [routerLink]="['/plantilla/', row.id, 'ver']">
                            <fa-icon [icon]="icons.faEllipsisH" class="fas fa-ellipsis-h"></fa-icon>
                        </a>
                        <button class="btn btn-xs btn-outline-primary border-secondary" matTooltip="Editar"
                            [routerLink]="['/plantilla/', row.id, 'editar']" [hidden]="ocultarPorPermisos">
                            <fa-icon [icon]="icons.faEdit" class="fas fa-edit"></fa-icon>
                        </button>
                        <button class="btn btn-xs btn-outline-info border-secondary" matTooltip="Copiar"
                            [routerLink]="['/plantilla/', row.id, 'copiar']" [hidden]="ocultarPorPermisos">
                            <fa-icon [icon]="icons.faCopy" class="fas fa-copy"></fa-icon>
                        </button>
                        <button class="btn btn-xs btn-outline-danger border-secondary" matTooltip="Activar"
                            *ngIf="row.vigencia==='N'" (click)="onClickActivarPlantilla(row)" [hidden]="ocultarPorPermisos">
                            <fa-icon [icon]="icons.faBan" class="fas fa-ban"></fa-icon>
                        </button>
                        <button class="btn btn-xs btn-outline-success border-secondary" matTooltip="Desactivar"
                            *ngIf="row.vigencia==='Y'" (click)="onClickDesactivarPlantilla(row)" [hidden]="ocultarPorPermisos">
                            <fa-icon [icon]="icons.faCheck" class="fas fa-check"></fa-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <div class="row">
            <div class="col-4">
                <button class="btn btn-success border-secondary" 
                    (click)="onClickExportar()" 
                    [disabled]="!canExport()">
                    Exportar Vista Actual a Excel
                </button>
            </div>
            <div class="col">
                <mat-paginator class="ml-auto" 
                    [pageSizeOptions]="[10, 25, 50, 100]" 
                    showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
    </div>
</div>