<h2 mat-dialog-title>Mapear desde Subestructura</h2>
<mat-dialog-content>
    <div class="row dialog-content-wrapper">
        <div class="col p-0 rounded border border-lighter">
            <div class="table-wrapper">
                <table mat-table class="tabla-columnas-subestructura" [dataSource]="data.columnaOrigen.subEstructura.columnas">
                    <ng-container matColumnDef="codigo">
                        <th mat-header-cell *matHeaderCellDef> Código </th>
                        <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
                    </ng-container>
                    <ng-container matColumnDef="tipoDato">
                        <th mat-header-cell *matHeaderCellDef> Tipo de Dato </th>
                        <td mat-cell *matCellDef="let row"> {{row.tipoDato.nombre}} </td>
                    </ng-container>
                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef [hidden]="accionUser === 'ver'"> Acciones </th>
                        <td mat-cell *matCellDef="let row; let i=index" [hidden]="accionUser === 'ver'">
                            <mat-checkbox (change)="onClickSelectColumna($event, i)" class="m-3"
                                [checked]="indiceColumnaSeleccionada === i"
                                matTooltip="Seleccionar para mapeo"></mat-checkbox>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="subEstructuraColumnasDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: subEstructuraColumnasDisplayedColumns;"></tr>
                </table>
            </div>
        </div>
        <div class="col" *ngIf="accionUser !== 'ver'">
            <div class="card">
                <div class="card-body">
                    <div class="row" [formGroup]="filtroForm">
                        <div class="col">
                            <mat-checkbox formControlName="filtrarRegistros">
                                Filtrar registros por el valor de esta columna
                            </mat-checkbox>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="valorFiltrado" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label>Columnas de Destino Disponibles
                                <ng-select [items]="columnasDestinoDisponibles$ | async" 
                                    bindLabel="nombreColumna"
                                    [(ngModel)]="columnaDestinoSeleccionada" 
                                    [ngModelOptions]="{standalone: true}"
                                    placeholder="Seleccione un campo de destino..."></ng-select>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-around">
    <button class="btn border-secondary btn-primary" (click)="onClickMapear()"
        *ngIf="accionUser !== 'ver'">
        Mapear
    </button>
    <button class="btn border-secondary btn-light" [mat-dialog-close]="null" autofocus>
        Cancelar
    </button>
</mat-dialog-actions>