<div *ngIf="plantilla$ | async; else loadingTemplate">
    <div class="formulario-plantillas" [formGroup]="creacionPlantillaForm" novalidate>
        <h3 class="mb-4">{{ isVerMode? "Ver" : "Editar" }} Plantilla: {{ tipo?.value?.nombre | titlecase }}</h3>
        <div class="row">
            <div class="form-group col">
                <label>Nombre de la Plantilla
                    <input class="form-control" formControlName="nombre" placeholder="Escriba un nombre de plantilla..." />
                </label>
                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-warning">
                    <div *ngIf="nombre.errors.required">Este es un campo requerido.</div>
                </div>
            </div>
            <div class="form-group col-2">
                <label>Versión
                    <input class="form-control" formControlName="version" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-5">
                <label>Socio
                    <ng-select [items]="socios$ | async" [clearable]="false" formControlName="socio" bindLabel="nombre"
                        #socioSelect placeholder="Seleccione un socio...">
                    </ng-select>
                </label>
                <div *ngIf="socio.invalid && (socio.dirty || socio.touched)" class="alert alert-warning">
                    <span *ngIf="socio.errors.required">Este es un campo requerido.</span>
                </div>
            </div>
            <div class="form-group col-4">
                <label>Evento
                    <ng-select [items]="eventos$ | async" [clearable]="false" formControlName="evento" bindLabel="nombre"
                        #eventoSelect placeholder="Seleccione un evento...">
                    </ng-select>
                </label>
                <div *ngIf="evento.invalid && (evento.dirty || evento.touched)" class="alert alert-warning">
                    <span *ngIf="evento.errors.required">Este es un campo requerido.</span>
                </div>
            </div>
            <div class="form-group col-3">
                <label>Tipo de Plantilla
                    <ng-select [items]="tiposPlantilla$ | async" [clearable]="false" [searchable]="false"
                        formControlName="tipo" bindLabel="nombre" #tipoSelect
                        placeholder="Seleccione un tipo de plantilla...">
                    </ng-select>
                </label>
                <div *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)" class="alert alert-warning">
                    <span *ngIf="tipo.errors.required">Este es un campo requerido.</span>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="tipo.value?.id === 100002">
            <mat-checkbox class="mt-3 pl-3" 
                formControlName="salidaFormatoOriginalEstado"
                (change)="onChangeSalidaFormatoOriginalConEstado()">
                Salida con Formato Original más Estado
            </mat-checkbox>
        </div>
        <div class="row">
            <div class="form-group col">
                <label>Observaciones
                    <textarea class="form-control" 
                        formControlName="observaciones" 
                        placeholder="Opcional...">
                    </textarea>
                </label>
            </div>
        </div>
        <div *ngIf="creacionPlantillaForm.disabled || creacionPlantillaForm.valid">
            <app-plantilla-entrada-edicion #plantillaEntrada class="row" 
                *ngIf="tipo.value.id === 100000" 
                [Plantilla]="plantilla$ | async"
                [AccionUser]="accionUser$ | async"
                [Evento]="evento.value">
            </app-plantilla-entrada-edicion>
            <app-plantilla-integracion-edicion #plantillaIntegracion class="row" 
                *ngIf="tipo.value.id === 100001" 
                [Plantilla]="plantilla$ | async" 
                [AccionUser]="accionUser$ | async"
                [Socio]="socio.value"
                [Evento]="evento.value">
            </app-plantilla-integracion-edicion>
            <app-plantilla-salida-edicion #plantillaSalida class="row" 
                *ngIf="isPlantillaSalidaEditable()"  
                [Plantilla]="plantilla$ | async"
                [AccionUser]="accionUser$ | async"
                [Socio]="socio.value"
                [evento]="evento.value">
            </app-plantilla-salida-edicion>
        </div>
        <ng-container *ngIf="!isVerMode then buttonsEditMode; else buttonsVerMode"></ng-container>
        <ng-template #buttonsEditMode>
            <div class="form-buttons d-flex justify-content-around mb-3" >
                <button class="btn btn-success" 
                    [disabled]="!(formularioCompleto$ | async) || submitting"
                    (click)="onClickSubmitPlantilla()">
                    Guardar Cambios
                </button>
                <button class="btn btn-light border-secondary"
                    routerLink="../ver">
                    Cancelar
                </button>
            </div>
        </ng-template>
        <ng-template #buttonsVerMode>
            <div class="form-buttons d-flex justify-content-around mb-3">
                <button class="btn btn-primary" 
                    [disabled]="!(formularioCompleto$ | async) || submitting"
                    routerLink="../editar">
                    Editar Plantilla
                </button>
                <a class="btn btn-light border-secondary" routerLink="/plantillas">
                    Volver
                </a>
            </div>
        </ng-template>
    </div>
</div>
<ng-template #loadingTemplate> 
    <div class="spinner-container">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
