<h6>Detalles de Estructura '{{estructura.descripcion}}'</h6>
<table mat-table [dataSource]="estructura.columnas">
    <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
    </ng-container>
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
    </ng-container>
    <ng-container matColumnDef="tipoDato">
        <th mat-header-cell *matHeaderCellDef> Tipo de Dato </th>
        <td mat-cell *matCellDef="let row"> {{row.tipoDato.nombre}} </td>
    </ng-container>
    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef class="th-acciones"> Acciones </th>
        <td mat-cell *matCellDef="let row; let i=index" class="td-acciones">
            <button class="btn btn-xs btn-outline-primary border-secondary" matTooltip="Detalles" 
                *ngIf="row.subEstructura || row.idSubEstructura" 
                (click)="onClickVerDetalles(i)" 
                [disabled]="loading">
                <fa-icon [icon]="icons.faEllipsisH" class="fas fa-ellipsis-h"></fa-icon>
            </button>
            <mat-checkbox class="m-3" matTooltip="Seleccionar (para mapear)"
                [checked]="indiceColumnaSeleccionada === i"
                (change)="onClickSelectColumna($event, i)" 
                [disabled]="loading">
            </mat-checkbox>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="estructuraColumnasDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: estructuraColumnasDisplayedColumns;"></tr>
</table>