<div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="clearfix">
            <h1 class="float-left display-3 mr-4">404</h1>
            <h4 class="pt-3">Oops! Hay un problema!.</h4>
            <p class="text-muted">La pagina que buscas no se encuentra.</p>
            <button class="btn btn-success" (click)="router.navigateByUrl('/')">Volver</button>
          </div>          
        </div>
      </div>
    </div>
  </div>