<div class="col" [formGroup]="creacionPlantillaSalidaForm">
    <h4>Propiedades de Salida</h4>
    <div class="row align-items-center mb-2">
        <div class="col-4">
            <div class="form-inline">
                <label>Formato de Salida
                    <ng-select [items]="tiposExtension$ | async" [clearable]="false" [searchable]="false"
                        formControlName="tipoExtension" 
                        bindLabel="nombre"
                        class="ml-3" style="width: 10em">
                    </ng-select>
                </label>
            </div>
            <div *ngIf="tipoExtension.invalid && (tipoExtension.dirty || tipoExtension.touched)" class="alert alert-warning">
              <span *ngIf="tipoExtension.errors.required">Este es un campo requerido.</span>
            </div>
        </div>
        <div class="col-4 form-inline text-right">
            <label>Delimitador de columnas
                <input type="text" class="form-control ml-3" style="width: 2.5em" formControlName="delimitadorColumnas" />
            </label>
            <div *ngIf="delimitadorColumnas.invalid && (delimitadorColumnas.dirty || delimitadorColumnas.touched)" class="alert alert-warning">
              <span *ngIf="delimitadorColumnas.errors.required">Este es un campo requerido.</span>
            </div>
        </div>
        <div class="col-4 form-inline">
            <div class="form-inline">
                <label>Core 
                    <ng-select [items]="coresSalida$ | async" [clearable]="false" [searchable]="false"
                        formControlName="core" 
                        bindLabel="nombre"
                        class="ml-3" style="width: 14em">
                    </ng-select>
                </label>
            </div>
            <div *ngIf="delimitadorColumnas.invalid && (delimitadorColumnas.dirty || delimitadorColumnas.touched)" class="alert alert-warning">
              <span *ngIf="delimitadorColumnas.errors.required">Este es un campo requerido.</span>
            </div>
        </div>
    </div>
    <div *ngIf="tipoExtension.value">
        <ng-container *ngIf="(esFormularioEstructurado$ | async) === false; then salidaEstandar; else salidaEstructurada"></ng-container>
        <ng-template #salidaEstandar>
            <app-salida-estandar-edicion #formularioEstandar class="row" 
                [accionUser]="_accionUser"
                [Evento]="evento"
                [DelimitadorColumnas]="delimitadorColumnas.value"
                [TipoExtension]="tipoExtension.value"
                (change)="forceChangeForm()"
                (mapeoColumna)="onMapeoColumna($event)"
                [colsSalida]="colsSalida$ | async">
            </app-salida-estandar-edicion>
        </ng-template>
        <ng-template #salidaEstructurada>
            <app-salida-estructurada-edicion #formularioEstructurado class="row" 
                    *ngIf="tipoExtension.value.id === 300001"
                    [Core]="core.value"
                    [Evento]="evento"
                    [Socio]="socio">
            </app-salida-estructurada-edicion>
        </ng-template>
    </div>
</div>
