<h1>Mantenedor de Estructuras</h1>
<app-filtros-estructuras [hidden]="!verFiltros"></app-filtros-estructuras>
<div class="row my-2">
    <div class="col text-left">
        <button class="btn btn-success border-secondary" 
            [class.active]="verFiltros" 
            (click)="onClickAlternarFiltros()">Filtrar Resultados</button>
    </div>
    <div class="col text-right">
        <a class="btn btn-success border-secondary" [hidden]="ocultarCreacionPorPermisos"
            routerLink="/estructuras/nueva">Registrar Nueva Estructura</a>
    </div>
</div>
<app-tabla-estructuras></app-tabla-estructuras>
<div class="mt-4">
    <h5>Sub-Estructuras</h5>
</div>
<app-tabla-subestructuras></app-tabla-subestructuras>