<div class="spinner-container" *ngIf="dataSource.carga$ | async">
  <mat-spinner></mat-spinner>
</div>
<div class="row mat-elevation-z8" [hidden]="dataSource.carga$ | async">
    <div class="col">
        <div class="trazabilidad scroll-x">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID Transacción</th>
                    <td mat-cell *matCellDef="let row">{{ row.id }}</td>
                </ng-container>
                <ng-container matColumnDef="idProceso">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID Proceso</th>
                    <td mat-cell *matCellDef="let row">{{ row.idProceso }}</td>
                </ng-container>
                <ng-container matColumnDef="nombreSocio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Socio</th>
                    <td mat-cell *matCellDef="let row">{{ row.nombreSocio }}</td>
                </ng-container>
                <ng-container matColumnDef="nombreEvento">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Evento</th>
                    <td mat-cell *matCellDef="let row">{{ row.nombreEvento }}</td>
                </ng-container>
                <ng-container matColumnDef="nombreArchivo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Archivo</th>
                    <td mat-cell *matCellDef="let row">{{ row.nombreArchivo }}</td>
                </ng-container>
                <ng-container matColumnDef="estadoTransaccion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                    <td mat-cell *matCellDef="let row">{{ row.estadoTransaccion }}</td>
                </ng-container>
                <ng-container matColumnDef="fechaInicio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Recepción</th>
                    <td mat-cell *matCellDef="let row">{{ row.fechaInicio | date: 'dd/MM/yyyy' }}</td>
                </ng-container>
                <ng-container matColumnDef="fechaFin">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Fin Transacción</th>
                    <td mat-cell *matCellDef="let row">{{ row.fechaFin | date: 'dd/MM/yyyy' }}</td>
                </ng-container>
                <ng-container matColumnDef="lineasOriginal">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>N&deg; Registros Originales</th>
                    <td mat-cell *matCellDef="let row">{{ row.lineasOriginal }}</td>
                </ng-container>
                <ng-container matColumnDef="lineasIcsOk">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>N&deg; Registros Cargados en ICS</th>
                    <td mat-cell *matCellDef="let row">{{ row.lineasIcsOk }}</td>
                </ng-container>
                <ng-container matColumnDef="lineasCoreOk">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>N&deg; Registros Cargados en Core</th>
                    <td mat-cell *matCellDef="let row">{{ row.lineasCoreOk }}</td>
                </ng-container>
                <ng-container matColumnDef="lineasIcsError">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>N&deg; Registros Rechazados en ICS</th>
                    <td mat-cell *matCellDef="let row">{{ row.lineasIcsError }}</td>
                </ng-container>
                <ng-container matColumnDef="lineasCoreError">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>N&deg; Registros Rechazados en Core</th>
                    <td mat-cell *matCellDef="let row">{{ row.lineasCoreError }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selectRow(row)" [style.cursor]="row.tipoTransaccion != 'ANU' ? 'pointer' : ''" [style.background]="selectedRow == row ? '#51bc98' : row.tipoTransaccion == 'ANU' ? '#f76d6d' : ''"></tr>
            </table>
        </div>
        <div class="row justify-content-end">
            <div class="col">
                <mat-paginator class="ml-auto" 
                    [pageSizeOptions]="[10, 25, 50, 100]" 
                    showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="selectedRow">
    <div *ngIf="procesosLoading" class="col spinner-container">
      <mat-spinner></mat-spinner>
    </div>
    <div class="col m-2" *ngIf="!procesosLoading">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Detalle Transacción {{ selectedRow.id }}</mat-card-title>
                <mat-card-subtitle>
                    <span *ngIf="procesoFinalizado" style="color: #009260">Proceso Finalizado</span>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="detalles-proceso scroll-x">
                    <table mat-table [dataSource]="procesos">
                        <ng-container matColumnDef="estado">
                            <td mat-cell *matCellDef="let row"> 
                                <mat-checkbox
                                    [checked]="row.fechaFin"
                                    [disabled]="true">
                                </mat-checkbox>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="nombre">
                            <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
                        </ng-container>
                        <ng-container matColumnDef="fechas">
                            <td mat-cell *matCellDef="let row">
                                <span>{{ row.fechaInicio | date: 'dd/MM/yyyy HH:mm:dd' }}</span>
                                <span *ngIf="row.fechaFin">
                                    &nbsp;a&nbsp;
                                    <span>{{ row.fechaFin | date: 'dd/MM/yyyy HH:mm:dd' }}</span>
                                </span>
                            </td>
                        </ng-container>
                        
                        <tr mat-row *matRowDef="let row; columns: detallesDisplayedColumns;"></tr>
                    </table>
                </div>
                <mat-progress-bar *ngIf="loadingProcess"
                    [color]="barspinner.color"
                    [mode]="barspinner.mode"
                    [bufferValue]="barspinner.bufferValue">
                </mat-progress-bar>
                <div class="row">
                    <div class="form-group col-12">
                        <button class="btn btn-success" style="margin-right: 8px" 
                            [disabled]="loadingProcess" 
                            (click)="downloadOriginal(selectedRow.id)">
                            Descargar Archivo Original
                        </button>
                        <button class="btn btn-success" style="margin-right: 8px" 
                            [disabled]="loadingProcess || !selectedRow.flgSalida" 
                            (click)="downloadResponse(selectedRow.id)">
                            Descargar Respuesta Socio
                        </button>
                        <button class="btn btn-success" style="margin-right: 8px" 
                            [disabled]="!finalizarProcesoEnabled || loadingProcess" 
                            (click)="finalizarProceso(selectedRow.id)">
                            Terminar Proceso
                        </button>
                        <button class="btn btn-success" [disabled]="estadoLogDeshabilitado(selectedRow.estadoTransaccion)"
                            (click)="downloadLog(selectedRow.id)">
                            Descargar Log de Transacción
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>