::ng-deep .mat-checkbox-checked.mat-checkbox-disabled .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-checkbox-disabled .mat-checkbox-background {
  background-color: #009260;
}

.spinner-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

mat-paginator {
  width: fit-content;
}

.mat-table-container {
  width: 100%;
  overflow: auto;
}

.trazabilidad td {
  min-width: 180px;
}

.detalles-proceso table {
  width: 45em;
}

.detalles-proceso .mat-row {
  height: 32px;
}

.detalles-proceso .mat-column-estado {
  flex: 0 0 4em;
}
.detalles-proceso .mat-column-nombre {
  flex: 0 0 10em;
}
.detalles-proceso .mat-column-fechas {
  flex: 0 0 31em;
}