<div class="col">
  <form class="card" [formGroup]="campoArchivoForm" (ngSubmit)="submitColumna()" novalidate>
    <div class="card-body">
      <h5 class="card-title">Añadir Columna</h5>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Nombre
              <input type="text" class="form-control" formControlName="nombre"  />
            </label>
            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-warning">
              <span *ngIf="nombre.errors.required">Este es un campo requerido.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <div class="form-group">
              <label>Tipo de Dato
                <ng-select [items]="tiposDato$ | async" [clearable]="false" [searchable]="false"
                  bindLabel="nombre"
                  formControlName="tipoDato">
                </ng-select>
              </label>
              <div *ngIf="tipoDato.invalid && (tipoDato.dirty || tipoDato.touched)" class="alert alert-warning">
                <span *ngIf="tipoDato.errors.required">Este es un campo requerido.</span>
              </div>
            </div>
        </div>
      <!-- 
          <div class="col align-content-center pt-4">
          <mat-checkbox formControlName="obligatorio">Obligatorio</mat-checkbox>
        </div> 
      -->
        <div class="col">
          <div class="form-group">
            <label>Posición Inicial
              <input type="number" class="form-control" formControlName="posInicial" />
            </label>
            <div *ngIf="!delimitadorColumnas && (posInicial.invalid && (posInicial.dirty || posInicial.touched))" class="alert alert-warning">
              <span *ngIf="posInicial.errors.required">Este es un campo requerido.</span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Posición Final
              <input type="number" class="form-control" formControlName="posFinal" />
            </label>
            <div *ngIf="!delimitadorColumnas && (posFinal.invalid && (posFinal.dirty || posFinal.touched))" class="alert alert-warning">
              <span *ngIf="posFinal.errors.required">Este es un campo requerido.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <mat-checkbox formControlName="llave">Llave (para uso en Unión de Datos)</mat-checkbox>
        </div>
        <div class="col text-right">
          <button type="submit" class="btn btn-primary" [disabled]="!campoArchivoForm.valid || accionUser == 'ver'">Aceptar</button>
        </div>
      </div>
    </div>
  </form>
</div>