app-tabla-estructuras {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

table {
    width: 90em;
}

.mat-column-concepto {
    flex: 0 1 25em;
}
.mat-column-core1,
.mat-column-core2 {
    flex: 0 0 10em;
}
.mat-column-socio1,
.mat-column-socio2 {
    flex: 0 1 20em;
}
.mat-column-valor1,
.mat-column-valor2  {
    flex: 0 1 20em;
}
.mat-column-acciones {
    flex: 0 0 6em;
}

.mat-column-acciones .btn-xs {
    width: 1.75em;
    height: 1.75em;
}