<div class="login-container">
    <div class="text-center ">
        <img class="mb-4 center" src="assets/images/logo.png" alt="" width="92" height="92">
        <h1>Integración con Socios</h1>
        <h4>Sistema web</h4>
        <div class="login card p-4">
            <h6>Ingrese su credencial de Cardif para entrar</h6>
            <form class="card-body" (ngSubmit)="submit()" novalidate>
                <div class="form-group text-left">
                    <label>ID de Usuario
                        <input class="form-control" [(ngModel)]="loginModel.username" name="username" required/>
                    </label>
                </div>
                <div class="form-group text-left">
                    <label>Contrase&ntilde;a
                        <input class="form-control" [(ngModel)]="loginModel.password" name="password" type="password" required/>
                    </label>
                </div>
                <div class="row my-2">
                    <div class="col text-center">
                        <button type="submit" class="btn-submit-login btn btn-success w-100">
                            Ingresar&nbsp;<fa-icon [icon]="icons.faKey"></fa-icon>
                        </button>
                    </div>
                    <div class="col text-center">
                        <button type="button" class="btn-submit-login btn btn-success w-100" (click)="limpiar()">
                            Limpiar&nbsp;
                            <fa-icon [icon]="icons.faEraser"></fa-icon>
                        </button>
                    </div>
                </div>
            </form>
            <div>
                <h6 style="color:red; text-align: center">{{errorMessage}}</h6>
            </div>
        </div>
        <div class="loading-container">
            <ng-template #customLoadingTemplate></ng-template>
        
            <ngx-loading 
                [show]="loading" 
                [config]="{ backdropBorderRadius: '3px' }" 
                [template]="customLoadingTemplate">
            </ngx-loading>
        </div>
    </div>
</div>