.columnas-trabajo-container,
.mapeos-container {
    overflow-y: auto;
}

.columnas-trabajo-container {
    max-height: 43rem;
}

.mapeos-container {
    max-height: 45rem;
    overflow-x: auto;
}

#tablaMapeosIntegracion {
    width: 56rem;
}

#tablaMapeosIntegracion .mat-column-nombre {
    flex: 0 1 20rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#tablaMapeosIntegracion .mat-column-origen {
    flex: 0 1 20rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#tablaMapeosIntegracion .mat-column-obligatorio,
#tablaMapeosIntegracion .mat-column-validar {
    flex: 0 0 8rem;
}

#tablaMapeosIntegracion .mat-column-acciones {
    flex: 0 0 6rem;
}